n8n-workflows/3FOsPfXQRiVf6zM0_My_workflow_2.json
{
  "updatedAt": "2026-01-14T20:47:01.773Z",
  "createdAt": "2026-01-14T20:47:01.773Z",
  "id": "3FOsPfXQRiVf6zM0",
  "name": "My workflow 2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "62407b12-fa86-48aa-8f8b-4ddc2673d626",
      "name": "Schedule Every 24h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "filePath": "/ruta/a/tu/archivo/contactos.xlsx"
      },
      "id": "78cf9272-accd-4a40-8bee-b0d4b29a46b1",
      "name": "Read Excel File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "56472467-7d16-4546-9825-61203fb1e96c",
      "name": "Parse Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "90adba88-d83e-4ede-ab44-ad3bca0aacae",
      "name": "Wait between messages",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "webhookId": "ad4ff8d1-4396-4961-9256-b700e035086a"
    },
    {
      "parameters": {
        "phoneNumberId": "TU_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $json.telefono }}"
      },
      "id": "fdfa0590-c1a4-400a-b1d0-4a735a7f8273",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "webhookId": "5944d1b6-a9b7-422e-994b-344a35ae809a"
    }
  ],
  "connections": {
    "Schedule Every 24h": {
      "main": [
        [
          {
            "node": "Read Excel File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Excel File": {
      "main": [
        [
          {
            "node": "Parse Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel": {
      "main": [
        [
          {
            "node": "Wait between messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait between messages": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9a5c34ab-666b-4b84-96d7-1a2735deaff9",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-14T20:47:01.773Z",
      "createdAt": "2026-01-14T20:47:01.773Z",
      "role": "workflow:owner",
      "workflowId": "3FOsPfXQRiVf6zM0",
      "projectId": "Vt5Eyc9ezInhgXE9",
      "project": {
        "updatedAt": "2025-12-31T14:40:13.685Z",
        "createdAt": "2025-12-31T14:38:28.497Z",
        "id": "Vt5Eyc9ezInhgXE9",
        "name": "AIC studio youtube <aicstudioai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
        "projectRelations": [
          {
            "updatedAt": "2025-12-31T14:38:28.497Z",
            "createdAt": "2025-12-31T14:38:28.497Z",
            "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
            "projectId": "Vt5Eyc9ezInhgXE9",
            "user": {
              "updatedAt": "2026-03-12T03:40:50.130Z",
              "createdAt": "2025-12-31T14:38:27.198Z",
              "id": "058da315-9cf0-40b2-a5e7-f1395e13be70",
              "email": "aicstudioai@gmail.com",
              "firstName": "AIC studio",
              "lastName": "youtube",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T14:40:51.287Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "devops",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "o8O9K4oWZdyaJqOT",
                "userActivatedAt": 1772737355723,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770152675504
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
