n8n-workflows/3shtcbXDn3KvcZBc_Respuesta_instagram_palabra_clave.json
{
  "updatedAt": "2026-01-29T20:45:18.944Z",
  "createdAt": "2026-01-28T19:42:52.797Z",
  "id": "3shtcbXDn3KvcZBc",
  "name": "Respuesta instagram palabra clave",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comentarios",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cb316a3a-d58f-46d8-9f92-2438a00881dc",
      "name": "Webhook Instagram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1552,
        112
      ],
      "webhookId": "auto-generated",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Verificación inicial del webhook de Meta\nconst query = $input.item.json.query || {};\nconst mode = query['hub.mode'];\nconst token = query['hub.verify_token'];\nconst challenge = query['hub.challenge'];\n\n// Si es verificación de Meta, responder con challenge\nif (mode === 'subscribe' && token === 'mi_token_secreto_123') {\n  return {\n    response: parseInt(challenge),\n    verification: true,\n    shouldRespond: true\n  };\n}\n\n// Si no hay datos de comentario, salir\nconst body = $input.item.json.body || {};\nif (!body.entry || !body.entry[0]) {\n  return { shouldRespond: false };\n}\n\n// Extraer datos del comentario\nconst entry = body.entry[0];\nconst changes = entry.changes && entry.changes[0] ? entry.changes[0] : null;\n\nif (!changes || !changes.value) {\n  return { shouldRespond: false };\n}\n\nconst value = changes.value;\n\n// Verificar que sea un comentario nuevo (no una respuesta)\nif (value.parent_id) {\n  return { shouldRespond: false, reason: 'Es una respuesta, no un comentario principal' };\n}\n\nreturn {\n  comment_id: value.id,\n  comment_text: value.text || '',\n  from_id: value.from ? value.from.id : '',\n  from_username: value.from ? value.from.username : '',\n  media_id: value.media ? value.media.id : '',\n  media_type: value.media ? value.media.media_product_type : '',\n  timestamp: entry.time || new Date().toISOString(),\n  shouldRespond: false,\n  raw_data: body\n};"
      },
      "id": "3f854c44-77df-4525-a449-3ccd8e66bb3e",
      "name": "Procesar Comentario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "verification",
              "leftValue": "={{ $json.verification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c56ac1f-e94c-4d71-90db-00b7201c14cb",
      "name": "¿Es Verificación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "id": "915323f9-5b12-4a3c-b0aa-1b222705241e",
      "name": "Responder Verificación",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -896,
        -16
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "media-match",
              "leftValue": "={{ $json.media_id }}",
              "rightValue": "TU_MEDIA_ID_AQUI",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3c2001ab-09f9-4a4d-b265-21d2ca40101d",
      "name": "¿Es la Publicación Correcta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -896,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "keyword",
              "leftValue": "={{ $json.comment_text.toLowerCase().trim() }}",
              "rightValue": "info",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ef071dc9-4469-401e-97c2-f00f9826aaa3",
      "name": "¿Tiene Palabra Clave?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -672,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.comment_id }}/replies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"✅ ¡Perfecto @{{ $json.from_username }}! Te acabamos de enviar toda la información por DM 📩\\n\\n¡Revisa tu bandeja de entrada!\"\n}",
        "options": {}
      },
      "id": "a684caf7-9bc3-48bc-b1aa-1bd5039674e3",
      "name": "Responder Comentario Público",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.from_id }}\"\n  },\n  \"message\": {\n    \"text\": \"¡Hola {{ $json.from_username }}! 👋\\n\\n¡Gracias por tu interés! 🎉\\n\\nAquí está la información que solicitaste:\\n\\n🔗 https://tu-enlace-aqui.com\\n\\n 😊\"\n  }\n}",
        "options": {}
      },
      "id": "8aff0310-f491-4fef-b6de-eea225fa3192",
      "name": "Enviar DM con Información",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "user",
              "name": "user",
              "value": "={{ $json.from_username }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.from_id }}",
              "type": "string"
            },
            {
              "id": "media_id",
              "name": "media_id",
              "value": "={{ $json.media_id }}",
              "type": "string"
            },
            {
              "id": "keyword",
              "name": "keyword_detected",
              "value": "info",
              "type": "string"
            },
            {
              "id": "comment",
              "name": "comment_text",
              "value": "={{ $json.comment_text }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "actions",
              "name": "actions_completed",
              "value": "comment_replied, dm_sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5918696d-b3d1-4f11-baed-00e5e4e5850b",
      "name": "📊 Log Éxito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "06eef931-7427-4c4f-bd5a-0d3f16663635",
      "name": "Responder Webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        32
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "ignored",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "Palabra clave no encontrada",
              "type": "string"
            },
            {
              "id": "comment",
              "name": "comment_text",
              "value": "={{ $json.comment_text }}",
              "type": "string"
            },
            {
              "id": "user",
              "name": "user",
              "value": "={{ $json.from_username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "162d5d56-263e-4584-ab50-5daee71053dc",
      "name": "📝 Log Sin Keyword",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "ignored",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "Publicación diferente",
              "type": "string"
            },
            {
              "id": "media",
              "name": "media_id_recibido",
              "value": "={{ $json.media_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d270f817-4b78-46b2-836e-310c93531b77",
      "name": "📝 Log Publicación Incorrecta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "41be715f-2043-4726-88da-ed6de485bd4b",
      "name": "Responder Webhook (Ignorado)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -240,
        288
      ],
      "disabled": true
    },
    {
      "parameters": {
        "path": "comentarios",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1520,
        448
      ],
      "id": "5b65d5c5-8572-4c3b-99ee-c803476d430a",
      "name": "Webhook",
      "webhookId": "33714921-e7ec-46fe-a740-538b6f9a2eaa",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1312,
        448
      ],
      "id": "e250632e-730e-450f-872c-1cb02f76ba07",
      "name": "Respond to Webhook",
      "disabled": true
    }
  ],
  "connections": {
    "Webhook Instagram": {
      "main": [
        [
          {
            "node": "Procesar Comentario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Comentario": {
      "main": [
        [
          {
            "node": "¿Es Verificación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Verificación?": {
      "main": [
        [
          {
            "node": "Responder Verificación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Tiene Palabra Clave?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es la Publicación Correcta?": {
      "main": [
        [
          {
            "node": "¿Tiene Palabra Clave?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Log Publicación Incorrecta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Palabra Clave?": {
      "main": [
        [
          {
            "node": "Responder Comentario Público",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Log Sin Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Comentario Público": {
      "main": [
        [
          {
            "node": "Enviar DM con Información",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar DM con Información": {
      "main": [
        [
          {
            "node": "📊 Log Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log Éxito": {
      "main": [
        [
          {
            "node": "Responder Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log Sin Keyword": {
      "main": [
        [
          {
            "node": "Responder Webhook (Ignorado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log Publicación Incorrecta": {
      "main": [
        [
          {
            "node": "Responder Webhook (Ignorado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fda97b7b-050c-44bf-b86e-5625d061cadb",
  "activeVersionId": null,
  "versionCounter": 13,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-28T19:42:52.797Z",
      "createdAt": "2026-01-28T19:42:52.797Z",
      "role": "workflow:owner",
      "workflowId": "3shtcbXDn3KvcZBc",
      "projectId": "Vt5Eyc9ezInhgXE9",
      "project": {
        "updatedAt": "2025-12-31T14:40:13.685Z",
        "createdAt": "2025-12-31T14:38:28.497Z",
        "id": "Vt5Eyc9ezInhgXE9",
        "name": "AIC studio youtube <aicstudioai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
        "projectRelations": [
          {
            "updatedAt": "2025-12-31T14:38:28.497Z",
            "createdAt": "2025-12-31T14:38:28.497Z",
            "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
            "projectId": "Vt5Eyc9ezInhgXE9",
            "user": {
              "updatedAt": "2026-03-12T03:40:50.130Z",
              "createdAt": "2025-12-31T14:38:27.198Z",
              "id": "058da315-9cf0-40b2-a5e7-f1395e13be70",
              "email": "aicstudioai@gmail.com",
              "firstName": "AIC studio",
              "lastName": "youtube",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T14:40:51.287Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "devops",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "o8O9K4oWZdyaJqOT",
                "userActivatedAt": 1772737355723,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770152675504
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
