n8n-workflows/gAcBlzbvb525JWir_ycloud_pruebas.json
{
  "updatedAt": "2026-03-12T14:39:57.963Z",
  "createdAt": "2026-03-03T13:27:13.313Z",
  "id": "gAcBlzbvb525JWir",
  "name": "ycloud pruebas",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aic_ycloud",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5056,
        2336
      ],
      "id": "84fce10a-10e2-4caa-a86a-edb6f21f1b85",
      "name": "Webhook",
      "webhookId": "e87c8c01-43c8-4ff0-8757-a3b27160df1b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Extraer Datos del Mensaje1').item.json.concat_message }}",
              "rightValue": "RESUELTO",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "c1"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        2512
      ],
      "id": "e47bcc5c-2963-4f13-b3b7-178202b29b2f",
      "name": "Es RESUELTO?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_flags (session_key, flag, value, updated_at) VALUES ('{{ $('Webhook').item.json.body.whatsappMessage?.wabaId ?? $('Webhook').item.json.body.whatsappInboundMessage?.wabaId }}_GLOBAL', 'bot_activo', 'false', NOW()) ON CONFLICT (session_key, flag) DO UPDATE SET value = 'false', updated_at = NOW(); SELECT 'ok' as result;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        528,
        2720
      ],
      "id": "e6ac6667-fd0a-43a5-a7a7-5a016cd9b6a2",
      "name": "Pausar Bot Global",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"from\": \"{{ $('Webhook').first().json.body.whatsappMessage.from }}\", \"to\": \"{{ $('Webhook').first().json.body.whatsappMessage.to }}\", \"type\": \"text\", \"text\": {\"body\": \"Bot PAUSADO. Ningun cliente recibira respuestas automaticas. Escribe ACTIVAR para reanudar.\", \"preview_url\": false}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        2720
      ],
      "id": "a0c3e5a9-05a3-4632-9794-a600516a2569",
      "name": "Confirmar: Bot Pausado"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_flags (session_key, flag, value, updated_at) VALUES ('{{ $('Webhook').item.json.body.whatsappMessage?.wabaId ?? $('Webhook').item.json.body.whatsappInboundMessage?.wabaId }}_GLOBAL', 'bot_activo', 'true', NOW()) ON CONFLICT (session_key, flag) DO UPDATE SET value = 'true', updated_at = NOW(); SELECT 'ok' as result;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        528,
        2896
      ],
      "id": "7372208d-407b-49af-ab4d-12d1ec676e32",
      "name": "Activar Bot Global",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"from\": \"{{ $('Webhook').first().json.body.whatsappMessage.from }}\", \"to\": \"{{ $('Webhook').first().json.body.whatsappMessage.to }}\", \"type\": \"text\", \"text\": {\"body\": \"Bot ACTIVADO. Los clientes vuelven a recibir respuestas automaticas.\", \"preview_url\": false}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        2896
      ],
      "id": "7af054ef-3659-4601-9061-6b6fb3177abd",
      "name": "Confirmar: Bot Activado"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM bot_flags WHERE session_key = '{{ $('Extraer Datos del Mensaje').item.json.global_key }}' AND flag = 'bot_activo' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        3088
      ],
      "id": "9c83e8bf-9295-40a4-b1e0-fdefbc57d232",
      "name": "Verificar Bot Global",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.value }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "c5"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        3088
      ],
      "id": "78e476f2-082e-4f86-863c-0f1acee7028c",
      "name": "Bot Pausado Globalmente?"
    },
    {
      "parameters": {
        "errorMessage": "Bot pausado globalmente por el agente"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1312,
        2960
      ],
      "id": "5b466121-98a7-46cd-8eec-388781c7b8f2",
      "name": "Stop: Bot Pausado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.value }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "c6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        3184
      ],
      "id": "257c0c1a-1615-4649-9420-05cbc8c3a53c",
      "name": "Humano Activo?1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_flags SET value = 'false', updated_at = NOW() WHERE session_key = '{{ $('Extraer Datos del Mensaje1').item.json.chatId }}' AND flag = 'humano_activo'; SELECT 'ok' as result;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        528,
        2496
      ],
      "id": "4da3b5cb-31a2-49cb-a18d-748598783631",
      "name": "Desactivar Flag Humano1",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Webhook').first().json.body.whatsappMessage?.from ?? $('Webhook').first().json.body.whatsappInboundMessage?.from }}\",\n  \"to\": \"{{ $('Webhook').first().json.body.whatsappMessage?.to ?? $('Webhook').first().json.body.whatsappInboundMessage?.to }}\",\n  \"type\": \"text\",\n  \"text\": {\"body\": \"Tu caso ha sido resuelto. El asistente virtual esta listo.\", \"preview_url\": false}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        2496
      ],
      "id": "c38780d3-2e44-4e96-be54-9bd5f05a81f8",
      "name": "Avisar Cliente: Bot Reactivado1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "wabaId",
              "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.wabaId ?? '' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "from",
              "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.from ?? '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "customerName",
              "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.customerProfile?.name ?? '' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "to",
              "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.to ?? '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "messageType",
              "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.type ?? '' }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "messageText",
              "value": "={{ $('concatenar mensaje').item.json.concat_message }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "session_key",
              "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.wabaId + '_' + $('Webhook').first().json.body.whatsappInboundMessage?.from }}",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "cuenta",
              "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.wabaId === '912593641647536' ? 'AIC Studio' : $('Webhook').first().json.body.whatsappInboundMessage?.wabaId === '1357538772723544' ? 'Soporte La Agencia' : 'Desconocida' }}",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "global_key",
              "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.wabaId + '_GLOBAL' }}",
              "type": "string"
            },
            {
              "id": "de8029f9-6436-4d9e-a782-1eaf5811482d",
              "name": "reply_context",
              "value": "={{ $json.reply_context ?? '' }}",
              "type": "string"
            },
            {
              "id": "5fd36a3e-6d0b-4233-ade3-c5e6b7e5d190",
              "name": "escalation_phone",
              "value": "={{ $('traer los numeros').item.json.escalation_phone }}",
              "type": "string"
            },
            {
              "id": "08250194-2541-42c8-b8f6-5503dbb66656",
              "name": "admin_phone",
              "value": "={{ $('traer los numeros').item.json.admin_phone }}",
              "type": "string"
            },
            {
              "id": "74f690ea-83a4-48dd-afc1-b09baea0221a",
              "name": "agent_id",
              "value": "={{ $('traer los numeros').item.json.agent_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        3088
      ],
      "id": "a257add4-20c8-4007-92ef-595a2497aef5",
      "name": "Extraer Datos del Mensaje"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM bot_flags WHERE session_key = '{{ $('Extraer Datos del Mensaje').item.json.session_key }}' AND flag = 'humano_activo' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1264,
        3184
      ],
      "id": "8907ae92-f98e-4510-8063-e74064b75a28",
      "name": "Verificar Flag Humano",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=OBLIGATORIO ANTES DE RESPONDER: Llama qdrant_knowledge con las palabras clave del mensaje. NUNCA respondas sin llamar la tool primero. Si no la llamas = respuesta inválida.\n\nNombre del cliente: {{ $('Extraer Datos del Mensaje').first().json.customerName ?? $('Extraer Datos del Mensaje').first().json.userName ?? 'Cliente' }}\n{{ $('Extraer Datos del Mensaje').first().json.reply_context ? 'Contexto: ' + $('Extraer Datos del Mensaje').first().json.reply_context + '\\n' : '' }}Mensaje: {{ $('Extraer Datos del Mensaje').first().json.messageText ?? $('Extraer Datos del Mensaje').first().json.text ?? '' }}",
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2048,
        3280
      ],
      "id": "47e85a79-71b3-4bdc-9731-38f200869fce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        3504
      ],
      "id": "a3ced607-e294-4853-9675-5e19e376e4f9",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wZuaxAFGQhXljswk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extraer Datos del Mensaje').first().json.agent_id + '_' + $('Extraer Datos del Mensaje').first().json.session_key }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2064,
        3504
      ],
      "id": "9b9648b6-8591-47d0-bc12-f8f79a94cedd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Bot en pausa - conversacion atendida por humano"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1936,
        2960
      ],
      "id": "f7135f0f-0f49-4c14-8f3f-9ecba2626949",
      "name": "Persona atendiendo"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "\nCUÁNDO USARLA (OBLIGATORIO antes de responder):\n- Cliente pregunta por producto, precio o disponibilidad\n- Categorías: peces, plantas, filtros, acuarios, alimento, decoración, hámsters\n- Preguntas sobre envío, pago, garantía, devolución, horarios\n- Cliente expresa objeción de precio, calidad, confianza o tiempo\n- Cliente parece perdido o no sabe qué comprar\n\nCUÁNDO NO USARLA:\n- Saludos simples sin pregunta específica\n- Casos de escalamiento ya identificados\n- Respuesta ya disponible en contexto actual\n\nCÓMO FORMULAR EL QUERY (3-6 palabras clave):\n\"peces neon cardumen precio\"        → mapeo_peces_cardumen_promos\n\"cómo pagar transferencia\"          → politica_pagos_metodos\n\"envío costo tiempo entrega\"        → politica_envios / faq_envio_tiempo_costo\n\"garantía filtro dañado\"            → politica_garantia_devoluciones\n\"precio caro objecion\"              → objecion_precio_alto\n\"principiante no sé acuario\"        → objecion_no_sabe_que_comprar\n\"hamster mascota\"                   → faq_hamsters\n\"plantas fáciles bajo requerimiento\"→ faq_plantas_acuaticas\n\"cliente quiere comprar confirmar\"  → flujo_venta_completo / ejemplo_cierre_escalar\n\nPARÁMETRO: query (string) — palabras clave de la intención del cliente.\nRETORNA: Contenido del chunk más relevante semánticamente.\nREGLA: Usar 1 vez por consulta. No repetir con el mismo query.",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Extraer Datos del Mensaje').first().json.agent_id }}",
          "mode": "id"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2208,
        3616
      ],
      "id": "8903e3cc-b323-4e35-8254-ce4ca03bf65c",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "TXqr8yifl95bmy3y",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2304,
        3824
      ],
      "id": "74acab97-5fe7-475e-a246-dfde0bdbaf2c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XrIlSDlaUJgC5q2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e397999f-f0d4-47db-8619-c188b5e3616b",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audio"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "338e3688-336d-4e2a-a3a9-d81e6bbd4e11",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "b8f82334-7775-4e5d-9d7c-f6402af55910",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "d986bd0c-7fd9-4916-aa9b-3e5a53ebd64e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -2480,
        2672
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "url": "={{ $json.audio_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InNlemV3ZWJzaXRlQGdtYWlsLmNvbSIsIm5hbWVpZCI6InNlemV3ZWJzaXRlQGdtYWlsLmNvbSIsImVtYWlsIjoic2V6ZXdlYnNpdGVAZ21haWwuY29tIiwiYXV0aF90aW1lIjoiMDIvMDQvMjAyNiAxNToyODozNSIsInRlbmFudF9pZCI6IjEwNzA3NzIiLCJkYl9uYW1lIjoibXQtcHJvZC1UZW5hbnRzIiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy9yb2xlIjoiQURNSU5JU1RSQVRPUiIsImV4cCI6MjUzNDAyMzAwODAwLCJpc3MiOiJDbGFyZV9BSSIsImF1ZCI6IkNsYXJlX0FJIn0.5xo5HZQfGOu4DlQxQsKNkbJ7XvdAr9oTmjlbC4Sl1ZA"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "593d2248-d63d-4ff7-91c2-e45bf92e65ac",
      "name": "descargar audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2160,
        2512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "84a0f7f7-cdeb-47b0-a5d7-5ee07f94dffb",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -1968,
        2512
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "XrIlSDlaUJgC5q2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "0a3610c3-3902-4142-a27b-7f0e679c8c73",
      "name": "descargar imagen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2160,
        2688
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Eres un experto en peces ornamentales y acuariofilia. Analiza esta imagen y determina si es:\n\nA) COMPROBANTE DE PAGO: captura de transferencia, recibo bancario, app bancaria (Nequi, Daviplata, Bancolombia, PSE, etc.)\n\nB) PEZ / PECES: fotografía directa de peces, O captura de pantalla mostrando peces (Google, catálogo, tienda online, Instagram, etc.)\n\nC) PLANTA ACUÁTICA: plantas naturales para acuario, macrofitas, musgos acuáticos.\n\nD) EQUIPO / ACCESORIO: filtros, termostatos, lámparas, troncos, rocas, sustratos, CO2, alimento, accesorios de acuario.\n\nE) OTRO: textos, conversaciones, imágenes sin producto visible.\n\n---\n\nSI ES PEZ O PECES:\n\nINTENTA IDENTIFICAR LA ESPECIE exacta usando tu conocimiento experto en peces ornamentales. Busca:\n- Forma del cuerpo, aletas, cola\n- Patrones de color y manchas\n- Tamaño aparente\n- Comportamiento visible (cardumen, solitario)\n- Texto visible en la imagen con nombre del pez\n\nFAMILIAS Y ESPECIES COMUNES a reconocer:\n- Goldfish (bailarinas): red cup, burbuja, cabeza de león, oranda, ranchu, telescopio, shubunkin, cometa\n- Bettas: crown tail, halfmoon, delta, plakat, giant\n- Cíclidos africanos: peacock, zebra, frontosa, tropheus\n- Cíclidos americanos: oscar, flowerhorn, discus, severum, geophagus, angel\n- Tetras / Characidos: neon, cardenal, serpae, bloodfin, black skirt, emperor, rummy nose\n- Livebearers: guppy, molly, platy, xipho (espada)\n- Corydoras: panda, albino, sterbai, elegans\n- Plecos / Ancistrus: bushnose, royal, zebra L46, común\n- Barbus / Danios: tigre, cherry, zebrafish, rosy\n- Killifish, arowana, piraña, palometa, pacu\n- Peces marinos: payaso (nemo), tang azul, pez globo, chromis\n\nPara los COLORES describe los 2-3 colores principales usando términos simples.\n\nPara el TIPO DE AGUA observa pistas visuales:\n- Agua clara con plantas → dulce tropical\n- Colores vivos + arrecife → marino\n- Goldfish + agua fría → agua fría\n\nPara el COMPORTAMIENTO:\n- ¿Están en grupo? → cardumen\n- ¿Solo uno? → solitario / territorial\n\n---\n\nSI ES PLANTA ACUÁTICA:\n\nIdentifica:\n- Especie si es reconocible: anubias, java fern, vallisneria, ludwigia, cryptocoryne, bucephalandra, musgo java, etc.\n- Requerimiento: bajo, medio, alto\n- Colores principales\n\n---\n\nSI ES EQUIPO O ACCESORIO:\n\nIdentifica:\n- Tipo: filtro, termostato, lámpara, tronco, roca, sustrato, alimento, kit CO2, red, manguera, etc.\n- Marca visible si aparece\n- Colores principales\n\n---\n\nSI HAY PRECIOS VISIBLES EN LA IMAGEN:\n\n- Lee TODOS los precios que aparezcan escritos en la imagen (en etiquetas, catálogos, capturas de pantalla, etc.)\n- Si hay múltiples productos con precio, captura todos en el campo \"precios_visibles\"\n- Formato de precio: tal como aparece en la imagen (ej: \"$14.000\", \"30.000\", \"USD 25\")\n- Si hay nombre del producto junto al precio, captúralo también en \"descripcion\"\n- Si no hay precio visible → \"precios_visibles\": []\n\n---\n\nResponde SOLO en formato JSON sin texto adicional ni backticks:\n\nSi es COMPROBANTE:\n{\n  \"tipo\": \"COMPROBANTE\",\n  \"especie\": null,\n  \"familia\": null,\n  \"tipo_agua\": null,\n  \"colores\": [],\n  \"caracteristicas\": [],\n  \"cantidad_aparente\": null,\n  \"precios_visibles\": [],\n  \"descripcion\": \"banco/app utilizada, monto visible, fecha, estado de transacción\"\n}\n\nSi es PEZ:\n{\n  \"tipo\": \"PEZ\",\n  \"especie\": \"nombre común de la especie o null si no se puede determinar\",\n  \"familia\": \"goldfish | betta | ciclido_africano | ciclido_americano | tetra | livebearer | corydora | pleco | barbus | otro\",\n  \"tipo_agua\": \"dulce_tropical | dulce_fria | marino | salobre\",\n  \"colores\": [\"color1\", \"color2\"],\n  \"caracteristicas\": [\"cardumen | solitario\", \"pequeño | mediano | grande\", \"pasivo | agresivo | territorial\", \"otro_detalle_visible\"],\n  \"cantidad_aparente\": \"1 | 2-5 | 6-12 | 12+\",\n  \"precios_visibles\": [\"precio1\", \"precio2\"],\n  \"descripcion\": \"descripción experta de lo que ves: forma, aletas, patrón de color, comportamiento. Si hay nombres y precios de productos visibles en la imagen, listarlos aquí también\"\n}\n\nSi es PLANTA:\n{\n  \"tipo\": \"PLANTA\",\n  \"especie\": \"nombre de la especie o null\",\n  \"familia\": null,\n  \"tipo_agua\": \"dulce\",\n  \"colores\": [\"color1\"],\n  \"caracteristicas\": [\"bajo_requerimiento | medio_requerimiento | alto_requerimiento\"],\n  \"cantidad_aparente\": null,\n  \"precios_visibles\": [\"precio1\"],\n  \"descripcion\": \"descripción breve de la planta\"\n}\n\nSi es EQUIPO:\n{\n  \"tipo\": \"EQUIPO\",\n  \"especie\": null,\n  \"familia\": \"filtro | termostato | lampara | decoracion | sustrato | alimento | co2 | accesorio\",\n  \"tipo_agua\": null,\n  \"colores\": [\"color1\"],\n  \"caracteristicas\": [],\n  \"cantidad_aparente\": null,\n  \"precios_visibles\": [\"precio1\"],\n  \"descripcion\": \"qué tipo de equipo es y marca si es visible\"\n}\n\nSi es OTRO:\n{\n  \"tipo\": \"OTRO\",\n  \"especie\": null,\n  \"familia\": null,\n  \"tipo_agua\": null,\n  \"colores\": [],\n  \"caracteristicas\": [],\n  \"cantidad_aparente\": null,\n  \"precios_visibles\": [],\n  \"descripcion\": \"qué tipo de imagen es y por qué no es ninguna categoría anterior\"\n}\n\n---\n\nREGLAS CRÍTICAS:\n- Si hay texto visible con el nombre del pez, léelo y úsalo en especie\n- Si hay precio visible en la imagen, léelo EXACTAMENTE como aparece escrito\n- Si hay múltiples productos con nombre y precio, captúralos todos en precios_visibles y descríbelos en descripcion\n- Si son múltiples especies, analiza la más prominente o la que ocupa más espacio\n- Capturas de Google, catálogos o tiendas con peces → tipo: \"PEZ\"\n- NUNCA inventes especie ni precio si no están escritos — usa null / []\n- Responde SOLO el JSON, sin explicaciones adicionales, sin backticks",
        "inputType": "base64",
        "options": {}
      },
      "id": "c7825767-c85c-4bce-87e0-c7fb5b18fc1d",
      "name": "Interpretar Imagen Producto",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -1968,
        2688
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "XrIlSDlaUJgC5q2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcea6c99-72fa-44d3-acc6-ecfdec887583",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "6abb6aff-1f4a-4ab5-aece-c2bf1d27a59d",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a19d53cb-e723-410b-a6fd-e865278a4a77",
      "name": "text content",
      "type": "n8n-nodes-base.set",
      "position": [
        -1968,
        2880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "98b677d5-1df5-4aec-87a0-75fd21540ef6",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1488,
        2672
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}",
        "messageData": "={{ JSON.stringify({\n  message: $json.content,\n  conversationId: $('Extraer Datos del Mensaje1').first().json.conversationId,\n  timestamp: $('Extraer Datos del Mensaje1').first().json.timestamp,\n  accountId: $('Extraer Datos del Mensaje1').first().json.accountId\n}) }}",
        "tail": true
      },
      "id": "030ec06f-4f0a-4602-a7fc-e4cc492e7965",
      "name": "buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        -1200,
        2688
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "UBGlgkl96cWVWRS3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5f578e00-18a3-4c3a-aba5-d0b016136db1",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ JSON.parse($json.message[$json.message.length - 1]).conversationId }}",
                    "rightValue": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignorar"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e1dc8881-3d12-4e62-9737-16c03af32a9f",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    },
                    "leftValue": "={{ $json.message && $json.message.length > 0 ? new Date(Number(JSON.parse($json.message[$json.message.length - 1]).timestamp)) : new Date() }}",
                    "rightValue": "={{ $now.minus(4, 'seconds') }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continuar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "id": "d3d3191a-63ad-42c5-8163-cf9d72b88111",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "position": [
        -688,
        2672
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {},
      "id": "7b5f7194-165a-49b2-ac3c-fd17fe1e123d",
      "name": "No Operation, do nothing8",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -448,
        2512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}"
      },
      "id": "3de38b3d-c8f5-41ab-82cc-9c8fafc662d0",
      "name": "Delete buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        -448,
        2688
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "UBGlgkl96cWVWRS3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54b459d-e8df-47e1-be8c-a8a476ab93c3",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "1b078c6c-6824-43e2-8bff-8a56fca7a1c9",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $('descargar audio').item.json.timestamp }}"
            },
            {
              "id": "428271e1-4a76-4831-81d9-d7cebda133f8",
              "name": "conversation_id",
              "type": "string",
              "value": "={{ $('descargar audio').item.json.conversationId }}"
            },
            {
              "id": "3a196970-f8fe-49e9-b0fe-cedbb5b73ae3",
              "name": "acount_id",
              "type": "string",
              "value": "={{ $('descargar audio').item.json.accountId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "91157d7d-0c19-409d-8fd4-ca30343cd7e1",
      "name": "contenido de audio",
      "type": "n8n-nodes-base.set",
      "position": [
        -1776,
        2512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}",
        "options": {}
      },
      "id": "ce43f59c-cfc7-42ad-9d22-83fa3f87d75f",
      "name": "obtener todos mensajes1",
      "type": "n8n-nodes-base.redis",
      "position": [
        -976,
        2688
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "UBGlgkl96cWVWRS3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  // ═══════════════════════════════════════════\n  // LEER INPUT — viene de \"Interpretar Imagen Producto\"\n  // ═══════════════════════════════════════════\n  const inputData = $input.first()?.json || {};\n  const rawAnalysis = inputData?.content || \"\";\n\n  // Leer contexto del flujo\n  let conversationId = \"sin_id\";\n  let timestamp = String(Date.now());\n  let accountId = \"1\";\n\n  try {\n    const extraerDatos = $('Extraer Datos del Mensaje1').first()?.json || {};\n    conversationId = extraerDatos.conversationId || extraerDatos.chatId || \"sin_id\";\n    timestamp = extraerDatos.timestamp || String(Date.now());\n    accountId = extraerDatos.accountId || \"1\";\n  } catch(e) {\n    console.log('⚠️ No se pudo leer Extraer Datos del Mensaje1:', e.message);\n  }\n\n  console.log('🖼️ conversationId:', conversationId);\n  console.log('🖼️ Raw analysis (primeros 200):', rawAnalysis.substring(0, 200));\n\n  // ═══════════════════════════════════════════\n  // LIMPIAR BACKTICKS\n  // ═══════════════════════════════════════════\n  const cleanJson = rawAnalysis\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  console.log('🧹 JSON limpio:', cleanJson.substring(0, 200));\n\n  // ═══════════════════════════════════════════\n  // PARSEAR JSON\n  // ═══════════════════════════════════════════\n  let analysisData = {};\n\n  try {\n    analysisData = JSON.parse(cleanJson);\n    console.log('✅ JSON parseado. tipo:', analysisData.tipo);\n  } catch (e) {\n    console.log('⚠️ No es JSON válido:', e.message);\n    const tipoMatch = cleanJson.match(/\"tipo\"\\s*:\\s*\"([^\"]+)\"/);\n    if (tipoMatch) {\n      analysisData.tipo = tipoMatch[1];\n      console.log('🔧 Tipo extraído con regex:', analysisData.tipo);\n    }\n  }\n\n  // ═══════════════════════════════════════════\n  // CLASIFICAR\n  // ═══════════════════════════════════════════\n  const tipo = (analysisData.tipo || '').toUpperCase();\n\n  const esPez         = tipo === 'PEZ';\n  const esPlanta      = tipo === 'PLANTA';\n  const esEquipo      = tipo === 'EQUIPO';\n  const esComprobante = tipo === 'COMPROBANTE';\n\n  // Campos comunes\n  const descripcion      = analysisData.descripcion      || '';\n  const colores          = (analysisData.colores          || []).join(', ') || 'no identificados';\n  const caracteristicas  = (analysisData.caracteristicas  || []).join(', ');\n  const precios_visibles = analysisData.precios_visibles  || [];\n  const preciosTexto     = precios_visibles.length > 0\n    ? `Precios visibles en la imagen: ${precios_visibles.join(' | ')}`\n    : 'No hay precios visibles en la imagen.';\n\n  let finalContent = '';\n\n  // ─── COMPROBANTE ───────────────────────────\n  if (esComprobante) {\n    finalContent = `[COMPROBANTE_DE_PAGO_DETECTADO]\nDescripción: ${descripcion.substring(0, 300)}\nAcción requerida: Usar herramienta verificar_pago`;\n\n  // ─── PEZ ───────────────────────────────────\n  } else if (esPez) {\n    const especie  = analysisData.especie   || null;\n    const familia  = analysisData.familia   || 'otro';\n    const tipo_agua = analysisData.tipo_agua || 'dulce_tropical';\n    const cantidad = analysisData.cantidad_aparente || '1';\n\n    finalContent = `[IMAGEN_DE_PEZ_DETECTADA]\nEl cliente envió una imagen con peces. Busca disponibilidad con buscar_producto:\n\n- Especie: ${especie || 'No identificada — ver descripción'}\n- Familia: ${familia}\n- Tipo de agua: ${tipo_agua}\n- Colores: ${colores}\n- Características: ${caracteristicas || 'no especificadas'}\n- Cantidad visible: ${cantidad}\n- ${preciosTexto}\n- Descripción completa: ${descripcion}\n\nINSTRUCCIÓN PARA EL AGENTE:\n1. Llama buscar_producto con especie=\"${especie || ''}\", familia=\"${familia}\", tipo_agua=\"${tipo_agua}\"\n2. Si los precios visibles coinciden con tu catálogo, confírmalo al cliente\n3. Si no hay stock, ofrece encargo\n4. NUNCA inventes precio ni disponibilidad — usa SOLO lo que retorne buscar_producto`;\n\n  // ─── PLANTA ────────────────────────────────\n  } else if (esPlanta) {\n    const especie       = analysisData.especie || null;\n    const requerimiento = caracteristicas || 'no especificado';\n\n    finalContent = `[IMAGEN_DE_PLANTA_DETECTADA]\nEl cliente envió una imagen de planta acuática.\n\n- Especie: ${especie || 'No identificada'}\n- Requerimiento: ${requerimiento}\n- Colores: ${colores}\n- ${preciosTexto}\n- Descripción: ${descripcion}\n\nINSTRUCCIÓN PARA EL AGENTE:\n1. Llama buscar_producto con especie=\"${especie || ''}\", tipo=\"planta\"\n2. Si hay precio visible en la imagen, contrástalo con tu catálogo\n3. NUNCA inventes precio ni disponibilidad`;\n\n  // ─── EQUIPO ────────────────────────────────\n  } else if (esEquipo) {\n    const subfamilia = analysisData.familia || 'accesorio';\n\n    finalContent = `[IMAGEN_DE_EQUIPO_DETECTADA]\nEl cliente envió una imagen de equipo o accesorio de acuario.\n\n- Tipo: ${subfamilia}\n- Colores: ${colores}\n- ${preciosTexto}\n- Descripción: ${descripcion}\n\nINSTRUCCIÓN PARA EL AGENTE:\n1. Llama buscar_producto con tipo=\"${subfamilia}\"\n2. Si hay precio visible, contrástalo con tu catálogo\n3. NUNCA inventes precio ni disponibilidad`;\n\n  // ─── OTRO ──────────────────────────────────\n  } else {\n    finalContent = `El cliente envió una imagen que no corresponde a un producto reconocido (${descripcion || 'imagen no identificada'}).\nResponde amablemente preguntando qué pez, planta o equipo le interesa, o que envíe una foto más clara del producto.`;\n    console.log('⚠️ Imagen clasificada como OTRO:', descripcion);\n  }\n\n  console.log('✅ finalContent (primeros 150):', finalContent.substring(0, 150));\n\n  return [{\n    json: {\n      content: finalContent,\n      timestamp: timestamp,\n      conversation_id: conversationId,\n      account_id: accountId,\n      is_comprobante: esComprobante,\n      is_pez: esPez,\n      is_planta: esPlanta,\n      is_equipo: esEquipo,\n      precios_visibles: precios_visibles,\n      especie_detectada: analysisData.especie || null,\n      familia_detectada: analysisData.familia || null,\n      original_analysis: rawAnalysis\n    }\n  }];\n\n} catch (error) {\n  console.error('❌ ERROR CRÍTICO:', error.message);\n\n  let conversationFallback = \"fallback\";\n  let accountFallback = \"1\";\n  try {\n    const fb = $('Extraer Datos del Mensaje1').first()?.json || {};\n    conversationFallback = fb.conversationId || fb.chatId || \"fallback\";\n    accountFallback = fb.accountId || \"1\";\n  } catch(e) {}\n\n  return [{\n    json: {\n      content: \"El cliente envió una imagen. Pídele que describa qué pez, planta o equipo le interesa.\",\n      timestamp: String(Date.now()),\n      conversation_id: conversationFallback,\n      account_id: accountFallback,\n      is_comprobante: false,\n      is_pez: false,\n      is_planta: false,\n      is_equipo: false,\n      precios_visibles: [],\n      especie_detectada: null,\n      familia_detectada: null,\n      error: true,\n      error_message: error.message\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        2688
      ],
      "id": "ad4fe79f-9532-4abb-a251-81e2afcd9de6",
      "name": "contenido de la imagen4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "conversation-data",
              "name": "concat_message",
              "type": "string",
              "value": "={{ JSON.parse($json.message[$json.message.length - 1].replace(/^=/, '')).message }}"
            },
            {
              "id": "3c02a5f1-b14e-4d30-bcda-e0c1a1159f27",
              "name": "Conversation_id",
              "type": "string",
              "value": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}"
            },
            {
              "id": "54b90d74-3026-45e6-8230-9e0862502cbf",
              "name": "account_id",
              "type": "string",
              "value": "={{ $('Extraer Datos del Mensaje1').first().json.accountId }}"
            },
            {
              "id": "97d20d5c-2577-4816-bb96-18c74b474b4f",
              "name": "username",
              "value": "={{ $('Normalizar Mensaje').item.json.userName }}",
              "type": "string"
            },
            {
              "id": "25de29f4-c4c4-40aa-b1a0-b7a6f99a9cc1",
              "name": "phone number",
              "value": "={{ $('Normalizar Mensaje').item.json.phoneNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "298dbc52-9b3c-410b-8871-d4697a33b64d",
      "name": "concatenar mensaje",
      "type": "n8n-nodes-base.set",
      "position": [
        -160,
        2688
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "amount": 8
      },
      "id": "12646de7-4112-44f7-9240-a10ccf3f687d",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "position": [
        -448,
        2880
      ],
      "webhookId": "8b0e5470-ea62-4d91-aa15-acda3535df87",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "76624c24-9dd2-483a-9c8b-284e8761f35c",
      "name": "Merge Reply Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2768,
        2672
      ],
      "notes": "PASO 5: Reunifica las dos ramas. Input 1 = rama CON reply (viene de Enriquecer). Input 2 = rama SIN reply (viene del IF false). Luego conectar al Switch existente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "norm-01",
              "name": "messageText",
              "value": "={{ $json.messageType === 'text' ? $json.messageText : $json.messageType === 'image' ? '[IMAGEN] ' + ($json.image_caption || 'sin caption') : $json.messageType === 'audio' ? '[AUDIO]' : $json.messageType === 'document' ? '[DOCUMENTO] ' + $json.document_name : $json.messageType === 'video' ? '[VIDEO]' : $json.messageType === 'sticker' ? '[STICKER]' : $json.messageType === 'location' ? '[UBICACION] ' + $json.location : '[MENSAJE TIPO: ' + $json.messageType + ']' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3776,
        2656
      ],
      "id": "2e4601e9-48c6-404f-b9f7-69e83d29c1df",
      "name": "Normalizar Mensaje"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-reply-01",
              "leftValue": "={{ $json.is_reply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3536,
        2656
      ],
      "id": "9a0c3f02-5ea4-4155-b34d-88c08e979033",
      "name": "Es Reply?"
    },
    {
      "parameters": {
        "url": "=https://api.ycloud.com/v2/whatsapp/messages/{{ $json.raw_context.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3296,
        2528
      ],
      "id": "44955eea-0bc7-49d6-8308-e7189f5f1065",
      "name": "Traer Mensaje Citado YCloud"
    },
    {
      "parameters": {
        "jsCode": "const current = $('Es Reply?').first().json;\nconst cited = $input.first().json;\n\nlet citedText = '';\nconst type = cited.type ?? '';\n\nif (type === 'text')           citedText = cited.text?.body ?? '';\nelse if (type === 'image')     citedText = '[IMAGEN] ' + (cited.image?.caption || 'sin caption');\nelse if (type === 'audio')     citedText = '[AUDIO]';\nelse if (type === 'document')  citedText = '[DOCUMENTO] ' + (cited.document?.filename || '');\nelse if (type === 'video')     citedText = '[VIDEO]';\nelse if (type === 'sticker')   citedText = '[STICKER]';\nelse                           citedText = '[MENSAJE TIPO: ' + type + ']';\n\nreturn [{\n  json: {\n    ...current,\n    reply_context: 'El cliente responde a: \"' + citedText + '\"',\n    messageText: '[Respondiendo a: \"' + citedText + '\"] ' + (current.text ?? current.concat_message ?? '')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        2528
      ],
      "id": "98e25bc4-4316-4e5e-867d-7713efc748cc",
      "name": "Normalizar Reply"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst webhookBody = $(\"Webhook\").item.json.body;\n\n// Support both inbound messages and echo/outbound messages\nconst msg = webhookBody.whatsappInboundMessage || webhookBody.whatsappMessage || {};\n\nconst eventType = webhookBody.type ?? \"\";\nconst isInbound = eventType === \"whatsapp.inbound_message.received\";\nconst wabaId = msg.wabaId ?? \"\";\nconst from = msg.from ?? \"\";\nconst to = msg.to ?? \"\";\n\n// For inbound: from=client, to=business. For echo: from=business, to=client.\n// clientPhone should always be the CLIENT's number\nconst clientPhone = isInbound ? (from || to) : (to || from);\n\nconst name = msg.customerProfile?.name ?? \"\";\nconst type = msg.type ?? \"text\";\nconst sendTime = msg.sendTime ?? \"\";\nconst timestamp = sendTime ? String(new Date(sendTime).getTime()) : String(Date.now());\nconst text = msg.text?.body ?? \"\";\nconst image_url = msg.image?.link ?? \"\";\nconst audio_url = msg.audio?.link ?? \"\";\n\nreturn [{\n  json: {\n    eventType,\n    isInbound,\n    isAgent: false,\n    conversationId: wabaId + \"_\" + clientPhone,\n    accountId: wabaId,\n    chatId: wabaId + \"_\" + clientPhone,\n    wamid: msg.wamid ?? \"\",\n    userName: name,\n    phoneNumber: clientPhone,\n    senderPhone: from,\n    timestamp,\n    sendTime,\n    messageType: type,\n    text,\n    concat_message: text,\n    caption: \"\",\n    mime_type: \"\",\n    image_url,\n    audio_url,\n    video_url: \"\",\n    document_url: \"\",\n    document_name: \"\",\n    sticker_url: \"\",\n    location: \"\",\n    contact_info: \"\",\n    interactive_response: \"\",\n    reaction: \"\",\n    is_reply: false,\n    context_quoted_id: \"\",\n    context_from: \"\",\n    raw_context: null,\n    message: {\n      chatId: wabaId + \"_\" + clientPhone,\n      accountId: wabaId,\n      userName: name,\n      phoneNumber: clientPhone,\n      text,\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4272,
        2336
      ],
      "id": "e0cbfdc7-022b-460c-aebb-6e1e290aac78",
      "name": "Extraer Datos del Mensaje1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2a",
              "leftValue": "={{ $('Extraer Datos del Mensaje1').item.json.concat_message }}",
              "rightValue": "PAUSAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c2b",
              "leftValue": "={{ $json.escalation_phone }}",
              "rightValue": "={{ $json.escalation_phone }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        2736
      ],
      "id": "06fa3e99-f550-4314-80cf-f81005b0a8f7",
      "name": "Es PAUSAR?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3a",
              "leftValue": "={{ $('Extraer Datos del Mensaje1').item.json.concat_message }}",
              "rightValue": "ACTIVAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c3b",
              "leftValue": "={{ $('traer los numeros').item.json.escalation_phone }}",
              "rightValue": "={{ $('traer los numeros').item.json.escalation_phone }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        2912
      ],
      "id": "18787b2c-74dc-4510-a549-1bceb1d86ece",
      "name": "Es ACTIVAR?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4",
              "leftValue": "={{ $('Webhook').first().json.body.type }}",
              "rightValue": "whatsapp.inbound_message.received",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        3104
      ],
      "id": "5cacd7a8-621a-490f-839d-d2c831ad98ca",
      "name": "Es mensaje entrante?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "escalate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3104,
        3296
      ],
      "id": "5bf65873-1b5f-44a8-96e4-e22957a70ee7",
      "name": "Es Escalar?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3104,
        3536
      ],
      "id": "e50cb60e-e672-4d0a-a861-516c3b414f94",
      "name": "Es Imagen?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.action }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3104,
        3776
      ],
      "id": "73b285c4-1bc5-41b0-b8c7-63c764b2ec27",
      "name": "Es Documento?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Extraer Datos del Mensaje').first().json.to }}\",\n  \"to\": \"{{ $('Extraer Datos del Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\"body\": \"Un momento, te conecto con un agente.\", \"preview_url\": false}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3456,
        3216
      ],
      "id": "a9a0bdb2-5803-4aa6-b27d-a88a795c3e5e",
      "name": "Avisar Cliente Escalando"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \n  from: '+573015553632', \n  to: '+573016050818', \n  type: 'text', \n  text: { \n    body: 'ESCALACION REQUERIDA\\n\\nNegocio: Omghat Glamping\\nCliente: ' + ($('Extraer Datos del Mensaje').first().json.customerName || $('Extraer Datos del Mensaje').first().json.userName || '') + '\\nNumero: ' + ($('Extraer Datos del Mensaje').first().json.from || '') + '\\nMensaje: ' + ($('Extraer Datos del Mensaje').first().json.messageText || $('Extraer Datos del Mensaje').first().json.text || '') + '\\n\\nResponde RESUELTO cuando termines.', \n    preview_url: false \n  } \n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3680,
        3216
      ],
      "id": "1b32946a-155a-45a9-81f3-b067f364635d",
      "name": "Notificar Agente WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.url }}\",\n    \"caption\": \"{{ $json.caption }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3920,
        3408
      ],
      "id": "fad9957d-29f3-45c1-a0fd-7d9a73a2214f",
      "name": "Enviar Imagen YCloud"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Parsear Imagenes').first().json.from }}\",\n  \"to\": \"{{ $('Parsear Imagenes').first().json.to }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('Parsear Imagenes').first().json.text || \"\") }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4528,
        3408
      ],
      "id": "28aecac0-7926-42a4-8bb9-b7468762c6e9",
      "name": "Texto Despues Imagen"
    },
    {
      "parameters": {
        "jsCode": "// Get document from JSON Parser media array\nconst parserData = $('JSON Parser').first().json;\nconst extractData = $('Extraer Datos del Mensaje').first().json;\nconst media = parserData.media || [];\nconst docs = media.filter(m => m.type === \"document\");\nconst firstDoc = docs[0] || {};\n\nif (!firstDoc.url) return [];\n\nreturn [{\n  json: {\n    docUrl: firstDoc.url || \"\",\n    caption: firstDoc.caption || parserData.text || \"\",\n    filename: firstDoc.url ? firstDoc.url.split(\"/\").pop() : \"document\",\n    from: extractData.to || \"\",\n    to: extractData.from || \"\",\n    text: parserData.text || \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3456,
        3664
      ],
      "id": "2ea20084-e14c-4df7-823c-f2814c3fd02b",
      "name": "Parsear Documento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"document\",\n  \"document\": {\n    \"link\": \"{{ $json.docUrl }}\",\n    \"filename\": \"{{ $json.filename }}\",\n    \"caption\": \"{{ $json.caption }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3712,
        3664
      ],
      "id": "f7b0da6c-9c64-42c6-b405-bdf58e723b00",
      "name": "Enviar Documento YCloud"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ct2",
              "leftValue": "={{ $('Parsear Documento').first().json.cleanText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3968,
        3664
      ],
      "id": "65ea9e5b-eb0c-4cb6-8ac0-287681c00864",
      "name": "Tiene Texto Doc?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Parsear Documento').first().json.from }}\",\n  \"to\": \"{{ $('Parsear Documento').first().json.to }}\",\n  \"type\": \"text\",\n  \"text\": {\"body\": \"{{ $('Parsear Documento').first().json.cleanText }}\", \"preview_url\": false}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4272,
        3648
      ],
      "id": "c2fa2970-39da-430a-ba35-a6e2840e5689",
      "name": "Texto Despues Doc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "581de215309bb5c800a0ef0bde1d06d4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Extraer Datos del Mensaje').first().json.to }}\",\n  \"to\": \"{{ $('Extraer Datos del Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('JSON Parser').first().json.text) }},\n    \"preview_url\": false\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3456,
        3888
      ],
      "id": "d06d12fc-65ef-4bb7-a573-ade1eab0f7aa",
      "name": "Enviar Texto"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_flags (session_key, flag, value, updated_at) VALUES ('{{ $('Extraer Datos del Mensaje').first().json.session_key }}', 'humano_activo', 'true', NOW()) ON CONFLICT (session_key, flag) DO UPDATE SET value = 'true', updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3904,
        3216
      ],
      "id": "dd1f335a-0955-4210-b005-ba7151170db4",
      "name": "Activar Flag Humano1",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT prompt FROM agent_prompts\nWHERE agent_id = '{{ $('Extraer Datos del Mensaje').item.json.agent_id }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        3264
      ],
      "id": "7b5a975b-d0b1-4f2a-9146-734ab7d3b35e",
      "name": "Prompt",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, url\nFROM agent_images\nWHERE agent_id = '{{ $('Extraer Datos del Mensaje').item.json.agent_id }}'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3456,
        3408
      ],
      "id": "94ef879c-68c7-4619-adb4-f2dd9ed92a8c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4336,
        3408
      ],
      "id": "f102b4d8-173e-4cdc-9987-455c8c7ba49c",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Get media array from JSON Parser and expand into individual items\nconst parserData = $('JSON Parser').first().json;\nconst extractData = $('Extraer Datos del Mensaje').first().json;\nconst media = parserData.media || [];\nconst images = media.filter(m => m.type === \"image\");\n\nif (images.length === 0) {\n  // No images in media — return empty to skip sending\n  return [];\n}\n\n// Return one item per image, each with from/to for YCloud API\nreturn images.map(img => ({\n  json: {\n    url: img.url || \"\",\n    caption: img.caption || \"\",\n    from: extractData.to || \"\",\n    to: extractData.from || \"\",\n    text: parserData.text || \"\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        3408
      ],
      "id": "c1568a9c-53f1-4073-ae75-d9462e51f465",
      "name": "Parsear Imagenes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4",
              "leftValue": "={{ $('Webhook').first().json.body.type }}",
              "rightValue": "whatsapp.inbound_message.received",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3920,
        2336
      ],
      "id": "5bc44af2-d964-40ab-9c92-6d40be665865",
      "name": "Es mensaje entrante?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4128,
        3408
      ],
      "id": "2d8b2992-48c4-459b-a83c-75fc58b73649",
      "name": "Wait",
      "webhookId": "9ca6a605-a6e4-43d7-b987-88e75aa96125"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n// Support both inbound messages and echo/outbound messages\nconst msg = body.whatsappInboundMessage || body.whatsappMessage || {};\n\nconst wabaId = msg.wabaId ?? '';\nconst from = msg.from ?? '';\nconst to = msg.to ?? '';\nconst customerName = (msg.customerProfile && msg.customerProfile.name) ? msg.customerProfile.name : '';\nconst messageType = msg.type ?? 'text';\nconst messageText = (msg.text && msg.text.body) ? msg.text.body : '';\nconst audioLink = (msg.audio && msg.audio.link) ? msg.audio.link : '';\nconst imageLink = (msg.image && msg.image.link) ? msg.image.link : '';\nconst sendTime = msg.sendTime ?? '';\nconst eventId = body.id ?? '';\nconst cuenta = wabaId === '1357538772723544' ? 'Soporte La Agencia'\n             : wabaId === '103732319475349' ? 'Imperio Acuático'\n             : 'Desconocida';\n\nreturn [{\n  json: {\n    wabaId,\n    from,\n    to,\n    customerName,\n    messageType,\n    messageText,\n    audioLink,\n    imageLink,\n    sendTime,\n    eventId,\n    cuenta,\n    chat_id: ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4784,
        2336
      ],
      "id": "9d59da1e-aaa0-46ab-a672-f645f1213bad",
      "name": "Extraer Datos del Mensaje2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ap.escalation_phone, ap.admin_phone, ap.phones_list, ap.agent_id, \n       COALESCE(a.status, 'active') as agent_status,\n       COALESCE(a.algorithm_type, 'default') as algorithm_type\nFROM agent_phones ap\nLEFT JOIN agents a ON a.id::text = ap.agent_id\nWHERE ap.waba_id = '{{ $json.account_id ?? $json.accountId ?? \"\" }}'\nAND ap.agent_id IS NOT NULL\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        2240
      ],
      "id": "42b18900-8336-4f1d-b066-26f6c8417924",
      "name": "traer los numeros",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.algorithm_type }}",
                    "rightValue": "appointments",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointments"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [208, 2240],
      "id": "switch-algorithm-type-001",
      "name": "Switch: Algorithm Type"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6LBitbc9szNZ7LDR",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "agent_id": "={{ $json.agent_id }}",
            "messageText": "={{ $('concatenar mensaje').item.json.messageText }}",
            "from": "={{ $('concatenar mensaje').item.json.from }}",
            "wabaId": "={{ $('concatenar mensaje').item.json.wabaId }}",
            "sessionId": "={{ $('concatenar mensaje').item.json.from + '_' + $json.agent_id }}"
          },
          "schema": [
            { "id": "agent_id", "displayName": "agent_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "messageText", "displayName": "messageText", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "from", "displayName": "from", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "wabaId", "displayName": "wabaId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sessionId", "displayName": "sessionId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [432, 2160],
      "id": "exec-subwf-citas-001",
      "name": "Ejecutar Sub-Workflow Citas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO waba_registry (waba_id)\nVALUES ('{{ $json.wabaId }}')\nON CONFLICT (waba_id) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4544,
        2336
      ],
      "id": "bdcd4e7a-af8e-45fb-b2c2-b9b9f46acd0a",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent JSON output with fallback for old-format agents\nconst raw = $input.first().json.output || $input.first().json.text || \"\";\nlet parsed;\ntry {\n  // Try to find JSON in the response\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error(\"No JSON found\");\n  }\n} catch (e) {\n  // Fallback: old tag-based format for backward compatibility\n  const isEscalar = /\\[ESCALAR\\]/i.test(raw);\n  const imgMatch = raw.match(/\\[IMG:(.*?)\\]/);\n  const docMatch = raw.match(/\\[DOC:(.*?)\\]/);\n  \n  let action = \"text\";\n  let media = [];\n  let text = raw.replace(/\\[ESCALAR\\]/gi, \"\").replace(/\\[IMG:.*?\\]/g, \"\").replace(/\\[DOC:.*?\\]/g, \"\").trim();\n  \n  if (isEscalar) action = \"escalate\";\n  else if (imgMatch) {\n    action = \"image\";\n    media.push({ type: \"image\", url: imgMatch[1], caption: \"\" });\n  }\n  else if (docMatch) {\n    action = \"document\";\n    media.push({ type: \"document\", url: docMatch[1], caption: \"\" });\n  }\n  \n  parsed = { text, action, media };\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        3280
      ],
      "id": "ab8fd5bd-e71e-4303-b0b9-88b4df8dc53e",
      "name": "JSON Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        528,
        3344
      ],
      "id": "84790e86-a111-441c-bbf5-144d942e8212",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "const agentData = $input.first().json;\nconst senderPhone = $('Extraer Datos del Mensaje1').first().json.phoneNumber ?? '';\nconst agentStatus = agentData.agent_status ?? 'active';\nconst adminPhone = agentData.admin_phone ?? '';\nconst SUPERADMIN_PHONE = '+573016050818';\n\n// If agent is in production mode, allow all messages\nif (agentStatus === 'active') {\n  return [{ json: { ...agentData, allowed: true } }];\n}\n\n// If agent is inactive, block all\nif (agentStatus === 'inactive') {\n  return [{ json: { ...agentData, allowed: false } }];\n}\n\n// setup or testing mode: only allow admin and superadmin\nconst normalize = (p) => p.replace(/[^0-9]/g, '');\nconst senderNorm = normalize(senderPhone);\nconst adminNorm = normalize(adminPhone);\nconst superNorm = normalize(SUPERADMIN_PHONE);\n\nconst isAdmin = senderNorm.length > 0 && (senderNorm === adminNorm || senderNorm.endsWith(adminNorm.slice(-10)) || adminNorm.endsWith(senderNorm.slice(-10)));\nconst isSuperAdmin = senderNorm.length > 0 && (senderNorm === superNorm || senderNorm.endsWith(superNorm.slice(-10)) || superNorm.endsWith(senderNorm.slice(-10)));\n\nif (isAdmin || isSuperAdmin) {\n  return [{ json: { ...agentData, allowed: true } }];\n}\n\n// Not allowed\nreturn [{ json: { ...agentData, allowed: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2240
      ],
      "id": "filtro-modo-pruebas-001",
      "name": "Filtro Modo Pruebas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "allowed-check",
              "leftValue": "={{ $json.allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        2240
      ],
      "id": "permitir-mensaje-001",
      "name": "Permitir Mensaje?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        2288
      ],
      "id": "ignorar-pruebas-001",
      "name": "Ignorar (Modo Pruebas)"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extraer Datos del Mensaje2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es RESUELTO?": {
      "main": [
        [
          {
            "node": "Desactivar Flag Humano1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es PAUSAR?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausar Bot Global": {
      "main": [
        [
          {
            "node": "Confirmar: Bot Pausado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar Bot Global": {
      "main": [
        [
          {
            "node": "Confirmar: Bot Activado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Bot Global": {
      "main": [
        [
          {
            "node": "Bot Pausado Globalmente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Pausado Globalmente?": {
      "main": [
        [
          {
            "node": "Stop: Bot Pausado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Flag Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Humano Activo?1": {
      "main": [
        [
          {
            "node": "Persona atendiendo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desactivar Flag Humano1": {
      "main": [
        [
          {
            "node": "Avisar Cliente: Bot Reactivado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Mensaje": {
      "main": [
        [
          {
            "node": "Verificar Bot Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Flag Humano": {
      "main": [
        [
          {
            "node": "Humano Activo?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "JSON Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "descargar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "descargar imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descargar audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "contenido de audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descargar imagen": {
      "main": [
        [
          {
            "node": "Interpretar Imagen Producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Imagen Producto": {
      "main": [
        [
          {
            "node": "contenido de la imagen4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buffer": {
      "main": [
        [
          {
            "node": "obtener todos mensajes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete buffer": {
      "main": [
        [
          {
            "node": "concatenar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contenido de audio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener todos mensajes1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contenido de la imagen4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "obtener todos mensajes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Reply Context": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concatenar mensaje": {
      "main": [
        [
          {
            "node": "traer los numeros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje": {
      "main": [
        [
          {
            "node": "Es Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Reply?": {
      "main": [
        [
          {
            "node": "Traer Mensaje Citado YCloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Reply Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Traer Mensaje Citado YCloud": {
      "main": [
        [
          {
            "node": "Normalizar Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Mensaje1": {
      "main": [
        [
          {
            "node": "Es mensaje entrante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Reply": {
      "main": [
        [
          {
            "node": "Merge Reply Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es PAUSAR?1": {
      "main": [
        [
          {
            "node": "Pausar Bot Global",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es ACTIVAR?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es ACTIVAR?1": {
      "main": [
        [
          {
            "node": "Activar Bot Global",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es mensaje entrante?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es mensaje entrante?1": {
      "main": [
        [
          {
            "node": "Extraer Datos del Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Escalar?": {
      "main": [
        [
          {
            "node": "Avisar Cliente Escalando",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Imagen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Imagen?": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Documento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Documento?": {
      "main": [
        [
          {
            "node": "Parsear Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Cliente Escalando": {
      "main": [
        [
          {
            "node": "Notificar Agente WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Agente WhatsApp": {
      "main": [
        [
          {
            "node": "Activar Flag Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Imagen YCloud": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Documento": {
      "main": [
        [
          {
            "node": "Enviar Documento YCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Documento YCloud": {
      "main": [
        [
          {
            "node": "Tiene Texto Doc?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene Texto Doc?": {
      "main": [
        [
          {
            "node": "Texto Despues Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Parsear Imagenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Texto Despues Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Imagenes": {
      "main": [
        [
          {
            "node": "Enviar Imagen YCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es mensaje entrante?": {
      "main": [
        [
          {
            "node": "Normalizar Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "traer los numeros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Mensaje2": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "traer los numeros": {
      "main": [
        [
          {
            "node": "Switch: Algorithm Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Algorithm Type": {
      "main": [
        [
          {
            "node": "Ejecutar Sub-Workflow Citas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtro Modo Pruebas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Extraer Datos del Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parser": {
      "main": [
        [
          {
            "node": "Es Escalar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Modo Pruebas": {
      "main": [
        [
          {
            "node": "Permitir Mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Permitir Mensaje?": {
      "main": [
        [
          {
            "node": "Es RESUELTO?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar (Modo Pruebas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "devwebhookn8n.automatesolutions.tech",
            "user-agent": "Go-http-client/2.0",
            "content-length": "600",
            "accept-encoding": "gzip",
            "baggage": "Eagleeye-Pappname=1fof0zltrv1@d3b96e44a5c9fa6,Eagleeye-Prpc=",
            "content-type": "application/json",
            "traceparent": "00-e42fd87a45ef4b7d07ed1089ed91f0aa-91f03f82349cf677-01",
            "x-forwarded-for": "8.219.65.77",
            "x-forwarded-host": "devwebhookn8n.automatesolutions.tech",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6caaad8e5ccb",
            "x-real-ip": "8.219.65.77",
            "x-webhook-endpoint-id": "69a6e160f29f50389465824a",
            "ycloud-signature": "t=1773293966,s=0ae5dcafa097c435b04e57ac648c83ca79c7b79b3efe6c4e9c2a40aaaaf4cc34"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_69b2518e3e76b2004f8d6d8c",
            "type": "whatsapp.inbound_message.received",
            "apiVersion": "v2",
            "createTime": "2026-03-12T05:39:26.432Z",
            "whatsappInboundMessage": {
              "id": "69b2518e9462c139277c2199",
              "wamid": "wamid.HBgMNTczMDE2MDUwODE4FQIAEhgUM0FEMTYxM0U2NkRDM0FENEIyODUA",
              "wabaId": "912593641647536",
              "from": "+573016050818",
              "customerProfile": {
                "name": "Juan Muñoz (AIC studio)"
              },
              "to": "+573015553632",
              "sendTime": "2026-03-12T05:39:25.000Z",
              "type": "text",
              "text": {
                "body": "Para mañana tiene disponible?"
              },
              "context": {
                "from": "573015553632",
                "id": "wamid.HBgMNTczMDE2MDUwODE4FQIAERgSQkZFMDE0QzUxRkY5OEY5NTM3AA=="
              }
            }
          },
          "webhookUrl": "https://devwebhookn8n.automatesolutions.tech/webhook/aic_ycloud",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "c96c6d2d-3849-466c-862e-59abcec32dbc",
  "activeVersionId": "c96c6d2d-3849-466c-862e-59abcec32dbc",
  "versionCounter": 232,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T13:27:13.313Z",
      "createdAt": "2026-03-03T13:27:13.313Z",
      "role": "workflow:owner",
      "workflowId": "gAcBlzbvb525JWir",
      "projectId": "Vt5Eyc9ezInhgXE9",
      "project": {
        "updatedAt": "2025-12-31T14:40:13.685Z",
        "createdAt": "2025-12-31T14:38:28.497Z",
        "id": "Vt5Eyc9ezInhgXE9",
        "name": "AIC studio youtube <aicstudioai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
        "projectRelations": [
          {
            "updatedAt": "2025-12-31T14:38:28.497Z",
            "createdAt": "2025-12-31T14:38:28.497Z",
            "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
            "projectId": "Vt5Eyc9ezInhgXE9",
            "user": {
              "updatedAt": "2026-03-12T03:40:50.130Z",
              "createdAt": "2025-12-31T14:38:27.198Z",
              "id": "058da315-9cf0-40b2-a5e7-f1395e13be70",
              "email": "aicstudioai@gmail.com",
              "firstName": "AIC studio",
              "lastName": "youtube",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T14:40:51.287Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "devops",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "o8O9K4oWZdyaJqOT",
                "userActivatedAt": 1772737355723,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770152675504
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-12T14:40:00.928Z",
    "createdAt": "2026-03-12T14:39:57.965Z",
    "versionId": "c96c6d2d-3849-466c-862e-59abcec32dbc",
    "workflowId": "gAcBlzbvb525JWir",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "aic_ycloud",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -5056,
          2336
        ],
        "id": "84fce10a-10e2-4caa-a86a-edb6f21f1b85",
        "name": "Webhook",
        "webhookId": "e87c8c01-43c8-4ff0-8757-a3b27160df1b"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $('Extraer Datos del Mensaje1').item.json.concat_message }}",
                "rightValue": "RESUELTO",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "c1"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          288,
          2512
        ],
        "id": "e47bcc5c-2963-4f13-b3b7-178202b29b2f",
        "name": "Es RESUELTO?"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO bot_flags (session_key, flag, value, updated_at) VALUES ('{{ $('Webhook').item.json.body.whatsappMessage?.wabaId ?? $('Webhook').item.json.body.whatsappInboundMessage?.wabaId }}_GLOBAL', 'bot_activo', 'false', NOW()) ON CONFLICT (session_key, flag) DO UPDATE SET value = 'false', updated_at = NOW(); SELECT 'ok' as result;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          528,
          2720
        ],
        "id": "e6ac6667-fd0a-43a5-a7a7-5a016cd9b6a2",
        "name": "Pausar Bot Global",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"from\": \"{{ $('Webhook').first().json.body.whatsappMessage.from }}\", \"to\": \"{{ $('Webhook').first().json.body.whatsappMessage.to }}\", \"type\": \"text\", \"text\": {\"body\": \"Bot PAUSADO. Ningun cliente recibira respuestas automaticas. Escribe ACTIVAR para reanudar.\", \"preview_url\": false}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          2720
        ],
        "id": "a0c3e5a9-05a3-4632-9794-a600516a2569",
        "name": "Confirmar: Bot Pausado"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO bot_flags (session_key, flag, value, updated_at) VALUES ('{{ $('Webhook').item.json.body.whatsappMessage?.wabaId ?? $('Webhook').item.json.body.whatsappInboundMessage?.wabaId }}_GLOBAL', 'bot_activo', 'true', NOW()) ON CONFLICT (session_key, flag) DO UPDATE SET value = 'true', updated_at = NOW(); SELECT 'ok' as result;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          528,
          2896
        ],
        "id": "7372208d-407b-49af-ab4d-12d1ec676e32",
        "name": "Activar Bot Global",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"from\": \"{{ $('Webhook').first().json.body.whatsappMessage.from }}\", \"to\": \"{{ $('Webhook').first().json.body.whatsappMessage.to }}\", \"type\": \"text\", \"text\": {\"body\": \"Bot ACTIVADO. Los clientes vuelven a recibir respuestas automaticas.\", \"preview_url\": false}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          2896
        ],
        "id": "7af054ef-3659-4601-9061-6b6fb3177abd",
        "name": "Confirmar: Bot Activado"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT value FROM bot_flags WHERE session_key = '{{ $('Extraer Datos del Mensaje').item.json.global_key }}' AND flag = 'bot_activo' LIMIT 1",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          800,
          3088
        ],
        "id": "9c83e8bf-9295-40a4-b1e0-fdefbc57d232",
        "name": "Verificar Bot Global",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.value }}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "c5"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1056,
          3088
        ],
        "id": "78e476f2-082e-4f86-863c-0f1acee7028c",
        "name": "Bot Pausado Globalmente?"
      },
      {
        "parameters": {
          "errorMessage": "Bot pausado globalmente por el agente"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1312,
          2960
        ],
        "id": "5b466121-98a7-46cd-8eec-388781c7b8f2",
        "name": "Stop: Bot Pausado"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.value }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "c6"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1472,
          3184
        ],
        "id": "257c0c1a-1615-4649-9420-05cbc8c3a53c",
        "name": "Humano Activo?1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE bot_flags SET value = 'false', updated_at = NOW() WHERE session_key = '{{ $('Extraer Datos del Mensaje1').item.json.chatId }}' AND flag = 'humano_activo'; SELECT 'ok' as result;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          528,
          2496
        ],
        "id": "4da3b5cb-31a2-49cb-a18d-748598783631",
        "name": "Desactivar Flag Humano1",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"{{ $('Webhook').first().json.body.whatsappMessage?.from ?? $('Webhook').first().json.body.whatsappInboundMessage?.from }}\",\n  \"to\": \"{{ $('Webhook').first().json.body.whatsappMessage?.to ?? $('Webhook').first().json.body.whatsappInboundMessage?.to }}\",\n  \"type\": \"text\",\n  \"text\": {\"body\": \"Tu caso ha sido resuelto. El asistente virtual esta listo.\", \"preview_url\": false}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          2496
        ],
        "id": "c38780d3-2e44-4e96-be54-9bd5f05a81f8",
        "name": "Avisar Cliente: Bot Reactivado1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "wabaId",
                "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.wabaId ?? '' }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "from",
                "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.from ?? '' }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "customerName",
                "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.customerProfile?.name ?? '' }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "to",
                "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.to ?? '' }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "messageType",
                "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.type ?? '' }}",
                "type": "string"
              },
              {
                "id": "a6",
                "name": "messageText",
                "value": "={{ $('concatenar mensaje').item.json.concat_message }}",
                "type": "string"
              },
              {
                "id": "a7",
                "name": "session_key",
                "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.wabaId + '_' + $('Webhook').first().json.body.whatsappInboundMessage?.from }}",
                "type": "string"
              },
              {
                "id": "a8",
                "name": "cuenta",
                "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.wabaId === '912593641647536' ? 'AIC Studio' : $('Webhook').first().json.body.whatsappInboundMessage?.wabaId === '1357538772723544' ? 'Soporte La Agencia' : 'Desconocida' }}",
                "type": "string"
              },
              {
                "id": "a9",
                "name": "global_key",
                "value": "={{ $('Webhook').first().json.body.whatsappInboundMessage?.wabaId + '_GLOBAL' }}",
                "type": "string"
              },
              {
                "id": "de8029f9-6436-4d9e-a782-1eaf5811482d",
                "name": "reply_context",
                "value": "={{ $json.reply_context ?? '' }}",
                "type": "string"
              },
              {
                "id": "5fd36a3e-6d0b-4233-ade3-c5e6b7e5d190",
                "name": "escalation_phone",
                "value": "={{ $('traer los numeros').item.json.escalation_phone }}",
                "type": "string"
              },
              {
                "id": "08250194-2541-42c8-b8f6-5503dbb66656",
                "name": "admin_phone",
                "value": "={{ $('traer los numeros').item.json.admin_phone }}",
                "type": "string"
              },
              {
                "id": "74f690ea-83a4-48dd-afc1-b09baea0221a",
                "name": "agent_id",
                "value": "={{ $('traer los numeros').item.json.agent_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          3088
        ],
        "id": "a257add4-20c8-4007-92ef-595a2497aef5",
        "name": "Extraer Datos del Mensaje"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT value FROM bot_flags WHERE session_key = '{{ $('Extraer Datos del Mensaje').item.json.session_key }}' AND flag = 'humano_activo' LIMIT 1",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1264,
          3184
        ],
        "id": "8907ae92-f98e-4510-8063-e74064b75a28",
        "name": "Verificar Flag Humano",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=OBLIGATORIO ANTES DE RESPONDER: Llama qdrant_knowledge con las palabras clave del mensaje. NUNCA respondas sin llamar la tool primero. Si no la llamas = respuesta inválida.\n\nNombre del cliente: {{ $('Extraer Datos del Mensaje').first().json.customerName ?? $('Extraer Datos del Mensaje').first().json.userName ?? 'Cliente' }}\n{{ $('Extraer Datos del Mensaje').first().json.reply_context ? 'Contexto: ' + $('Extraer Datos del Mensaje').first().json.reply_context + '\\n' : '' }}Mensaje: {{ $('Extraer Datos del Mensaje').first().json.messageText ?? $('Extraer Datos del Mensaje').first().json.text ?? '' }}",
          "options": {
            "systemMessage": "={{ $json.prompt }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          2048,
          3280
        ],
        "id": "47e85a79-71b3-4bdc-9731-38f200869fce",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1904,
          3504
        ],
        "id": "a3ced607-e294-4853-9675-5e19e376e4f9",
        "name": "Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "wZuaxAFGQhXljswk",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Extraer Datos del Mensaje').first().json.agent_id + '_' + $('Extraer Datos del Mensaje').first().json.session_key }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          2064,
          3504
        ],
        "id": "9b9648b6-8591-47d0-bc12-f8f79a94cedd",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "errorMessage": "Bot en pausa - conversacion atendida por humano"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1936,
          2960
        ],
        "id": "f7135f0f-0f49-4c14-8f3f-9ecba2626949",
        "name": "Persona atendiendo"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "\nCUÁNDO USARLA (OBLIGATORIO antes de responder):\n- Cliente pregunta por producto, precio o disponibilidad\n- Categorías: peces, plantas, filtros, acuarios, alimento, decoración, hámsters\n- Preguntas sobre envío, pago, garantía, devolución, horarios\n- Cliente expresa objeción de precio, calidad, confianza o tiempo\n- Cliente parece perdido o no sabe qué comprar\n\nCUÁNDO NO USARLA:\n- Saludos simples sin pregunta específica\n- Casos de escalamiento ya identificados\n- Respuesta ya disponible en contexto actual\n\nCÓMO FORMULAR EL QUERY (3-6 palabras clave):\n\"peces neon cardumen precio\"        → mapeo_peces_cardumen_promos\n\"cómo pagar transferencia\"          → politica_pagos_metodos\n\"envío costo tiempo entrega\"        → politica_envios / faq_envio_tiempo_costo\n\"garantía filtro dañado\"            → politica_garantia_devoluciones\n\"precio caro objecion\"              → objecion_precio_alto\n\"principiante no sé acuario\"        → objecion_no_sabe_que_comprar\n\"hamster mascota\"                   → faq_hamsters\n\"plantas fáciles bajo requerimiento\"→ faq_plantas_acuaticas\n\"cliente quiere comprar confirmar\"  → flujo_venta_completo / ejemplo_cierre_escalar\n\nPARÁMETRO: query (string) — palabras clave de la intención del cliente.\nRETORNA: Contenido del chunk más relevante semánticamente.\nREGLA: Usar 1 vez por consulta. No repetir con el mismo query.",
          "qdrantCollection": {
            "__rl": true,
            "value": "={{ $('Extraer Datos del Mensaje').first().json.agent_id }}",
            "mode": "id"
          },
          "topK": 10,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          2208,
          3616
        ],
        "id": "8903e3cc-b323-4e35-8254-ce4ca03bf65c",
        "name": "Qdrant Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "TXqr8yifl95bmy3y",
            "name": "QdrantApi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          2304,
          3824
        ],
        "id": "74acab97-5fe7-475e-a246-dfde0bdbaf2c",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "XrIlSDlaUJgC5q2a",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "e397999f-f0d4-47db-8619-c188b5e3616b",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.messageType }}",
                      "rightValue": "audio"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "338e3688-336d-4e2a-a3a9-d81e6bbd4e11",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.messageType }}",
                      "rightValue": "image"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "image"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "b8f82334-7775-4e5d-9d7c-f6402af55910",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.messageType }}",
                      "rightValue": "text"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              }
            ]
          },
          "options": {}
        },
        "id": "d986bd0c-7fd9-4916-aa9b-3e5a53ebd64e",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "position": [
          -2480,
          2672
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "url": "={{ $json.audio_url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InNlemV3ZWJzaXRlQGdtYWlsLmNvbSIsIm5hbWVpZCI6InNlemV3ZWJzaXRlQGdtYWlsLmNvbSIsImVtYWlsIjoic2V6ZXdlYnNpdGVAZ21haWwuY29tIiwiYXV0aF90aW1lIjoiMDIvMDQvMjAyNiAxNToyODozNSIsInRlbmFudF9pZCI6IjEwNzA3NzIiLCJkYl9uYW1lIjoibXQtcHJvZC1UZW5hbnRzIiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy9yb2xlIjoiQURNSU5JU1RSQVRPUiIsImV4cCI6MjUzNDAyMzAwODAwLCJpc3MiOiJDbGFyZV9BSSIsImF1ZCI6IkNsYXJlX0FJIn0.5xo5HZQfGOu4DlQxQsKNkbJ7XvdAr9oTmjlbC4Sl1ZA"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "593d2248-d63d-4ff7-91c2-e45bf92e65ac",
        "name": "descargar audio",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2160,
          2512
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "id": "84a0f7f7-cdeb-47b0-a5d7-5ee07f94dffb",
        "name": "OpenAI",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          -1968,
          2512
        ],
        "typeVersion": 1.8,
        "credentials": {
          "openAiApi": {
            "id": "XrIlSDlaUJgC5q2a",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.image_url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "0a3610c3-3902-4142-a27b-7f0e679c8c73",
        "name": "descargar imagen",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2160,
          2688
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o",
            "cachedResultName": "GPT-4O"
          },
          "text": "=Eres un experto en peces ornamentales y acuariofilia. Analiza esta imagen y determina si es:\n\nA) COMPROBANTE DE PAGO: captura de transferencia, recibo bancario, app bancaria (Nequi, Daviplata, Bancolombia, PSE, etc.)\n\nB) PEZ / PECES: fotografía directa de peces, O captura de pantalla mostrando peces (Google, catálogo, tienda online, Instagram, etc.)\n\nC) PLANTA ACUÁTICA: plantas naturales para acuario, macrofitas, musgos acuáticos.\n\nD) EQUIPO / ACCESORIO: filtros, termostatos, lámparas, troncos, rocas, sustratos, CO2, alimento, accesorios de acuario.\n\nE) OTRO: textos, conversaciones, imágenes sin producto visible.\n\n---\n\nSI ES PEZ O PECES:\n\nINTENTA IDENTIFICAR LA ESPECIE exacta usando tu conocimiento experto en peces ornamentales. Busca:\n- Forma del cuerpo, aletas, cola\n- Patrones de color y manchas\n- Tamaño aparente\n- Comportamiento visible (cardumen, solitario)\n- Texto visible en la imagen con nombre del pez\n\nFAMILIAS Y ESPECIES COMUNES a reconocer:\n- Goldfish (bailarinas): red cup, burbuja, cabeza de león, oranda, ranchu, telescopio, shubunkin, cometa\n- Bettas: crown tail, halfmoon, delta, plakat, giant\n- Cíclidos africanos: peacock, zebra, frontosa, tropheus\n- Cíclidos americanos: oscar, flowerhorn, discus, severum, geophagus, angel\n- Tetras / Characidos: neon, cardenal, serpae, bloodfin, black skirt, emperor, rummy nose\n- Livebearers: guppy, molly, platy, xipho (espada)\n- Corydoras: panda, albino, sterbai, elegans\n- Plecos / Ancistrus: bushnose, royal, zebra L46, común\n- Barbus / Danios: tigre, cherry, zebrafish, rosy\n- Killifish, arowana, piraña, palometa, pacu\n- Peces marinos: payaso (nemo), tang azul, pez globo, chromis\n\nPara los COLORES describe los 2-3 colores principales usando términos simples.\n\nPara el TIPO DE AGUA observa pistas visuales:\n- Agua clara con plantas → dulce tropical\n- Colores vivos + arrecife → marino\n- Goldfish + agua fría → agua fría\n\nPara el COMPORTAMIENTO:\n- ¿Están en grupo? → cardumen\n- ¿Solo uno? → solitario / territorial\n\n---\n\nSI ES PLANTA ACUÁTICA:\n\nIdentifica:\n- Especie si es reconocible: anubias, java fern, vallisneria, ludwigia, cryptocoryne, bucephalandra, musgo java, etc.\n- Requerimiento: bajo, medio, alto\n- Colores principales\n\n---\n\nSI ES EQUIPO O ACCESORIO:\n\nIdentifica:\n- Tipo: filtro, termostato, lámpara, tronco, roca, sustrato, alimento, kit CO2, red, manguera, etc.\n- Marca visible si aparece\n- Colores principales\n\n---\n\nSI HAY PRECIOS VISIBLES EN LA IMAGEN:\n\n- Lee TODOS los precios que aparezcan escritos en la imagen (en etiquetas, catálogos, capturas de pantalla, etc.)\n- Si hay múltiples productos con precio, captura todos en el campo \"precios_visibles\"\n- Formato de precio: tal como aparece en la imagen (ej: \"$14.000\", \"30.000\", \"USD 25\")\n- Si hay nombre del producto junto al precio, captúralo también en \"descripcion\"\n- Si no hay precio visible → \"precios_visibles\": []\n\n---\n\nResponde SOLO en formato JSON sin texto adicional ni backticks:\n\nSi es COMPROBANTE:\n{\n  \"tipo\": \"COMPROBANTE\",\n  \"especie\": null,\n  \"familia\": null,\n  \"tipo_agua\": null,\n  \"colores\": [],\n  \"caracteristicas\": [],\n  \"cantidad_aparente\": null,\n  \"precios_visibles\": [],\n  \"descripcion\": \"banco/app utilizada, monto visible, fecha, estado de transacción\"\n}\n\nSi es PEZ:\n{\n  \"tipo\": \"PEZ\",\n  \"especie\": \"nombre común de la especie o null si no se puede determinar\",\n  \"familia\": \"goldfish | betta | ciclido_africano | ciclido_americano | tetra | livebearer | corydora | pleco | barbus | otro\",\n  \"tipo_agua\": \"dulce_tropical | dulce_fria | marino | salobre\",\n  \"colores\": [\"color1\", \"color2\"],\n  \"caracteristicas\": [\"cardumen | solitario\", \"pequeño | mediano | grande\", \"pasivo | agresivo | territorial\", \"otro_detalle_visible\"],\n  \"cantidad_aparente\": \"1 | 2-5 | 6-12 | 12+\",\n  \"precios_visibles\": [\"precio1\", \"precio2\"],\n  \"descripcion\": \"descripción experta de lo que ves: forma, aletas, patrón de color, comportamiento. Si hay nombres y precios de productos visibles en la imagen, listarlos aquí también\"\n}\n\nSi es PLANTA:\n{\n  \"tipo\": \"PLANTA\",\n  \"especie\": \"nombre de la especie o null\",\n  \"familia\": null,\n  \"tipo_agua\": \"dulce\",\n  \"colores\": [\"color1\"],\n  \"caracteristicas\": [\"bajo_requerimiento | medio_requerimiento | alto_requerimiento\"],\n  \"cantidad_aparente\": null,\n  \"precios_visibles\": [\"precio1\"],\n  \"descripcion\": \"descripción breve de la planta\"\n}\n\nSi es EQUIPO:\n{\n  \"tipo\": \"EQUIPO\",\n  \"especie\": null,\n  \"familia\": \"filtro | termostato | lampara | decoracion | sustrato | alimento | co2 | accesorio\",\n  \"tipo_agua\": null,\n  \"colores\": [\"color1\"],\n  \"caracteristicas\": [],\n  \"cantidad_aparente\": null,\n  \"precios_visibles\": [\"precio1\"],\n  \"descripcion\": \"qué tipo de equipo es y marca si es visible\"\n}\n\nSi es OTRO:\n{\n  \"tipo\": \"OTRO\",\n  \"especie\": null,\n  \"familia\": null,\n  \"tipo_agua\": null,\n  \"colores\": [],\n  \"caracteristicas\": [],\n  \"cantidad_aparente\": null,\n  \"precios_visibles\": [],\n  \"descripcion\": \"qué tipo de imagen es y por qué no es ninguna categoría anterior\"\n}\n\n---\n\nREGLAS CRÍTICAS:\n- Si hay texto visible con el nombre del pez, léelo y úsalo en especie\n- Si hay precio visible en la imagen, léelo EXACTAMENTE como aparece escrito\n- Si hay múltiples productos con nombre y precio, captúralos todos en precios_visibles y descríbelos en descripcion\n- Si son múltiples especies, analiza la más prominente o la que ocupa más espacio\n- Capturas de Google, catálogos o tiendas con peces → tipo: \"PEZ\"\n- NUNCA inventes especie ni precio si no están escritos — usa null / []\n- Responde SOLO el JSON, sin explicaciones adicionales, sin backticks",
          "inputType": "base64",
          "options": {}
        },
        "id": "c7825767-c85c-4bce-87e0-c7fb5b18fc1d",
        "name": "Interpretar Imagen Producto",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          -1968,
          2688
        ],
        "typeVersion": 1.8,
        "credentials": {
          "openAiApi": {
            "id": "XrIlSDlaUJgC5q2a",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bcea6c99-72fa-44d3-acc6-ecfdec887583",
                "name": "content",
                "type": "string",
                "value": "={{ $json.text }}"
              },
              {
                "id": "6abb6aff-1f4a-4ab5-aece-c2bf1d27a59d",
                "name": "timestamp",
                "type": "string",
                "value": "={{ $json.timestamp }}"
              }
            ]
          },
          "options": {}
        },
        "id": "a19d53cb-e723-410b-a6fd-e865278a4a77",
        "name": "text content",
        "type": "n8n-nodes-base.set",
        "position": [
          -1968,
          2880
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "id": "98b677d5-1df5-4aec-87a0-75fd21540ef6",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          -1488,
          2672
        ],
        "typeVersion": 3.1
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}",
          "messageData": "={{ JSON.stringify({\n  message: $json.content,\n  conversationId: $('Extraer Datos del Mensaje1').first().json.conversationId,\n  timestamp: $('Extraer Datos del Mensaje1').first().json.timestamp,\n  accountId: $('Extraer Datos del Mensaje1').first().json.accountId\n}) }}",
          "tail": true
        },
        "id": "030ec06f-4f0a-4602-a7fc-e4cc492e7965",
        "name": "buffer",
        "type": "n8n-nodes-base.redis",
        "position": [
          -1200,
          2688
        ],
        "typeVersion": 1,
        "credentials": {
          "redis": {
            "id": "UBGlgkl96cWVWRS3",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "5f578e00-18a3-4c3a-aba5-d0b016136db1",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "leftValue": "={{ JSON.parse($json.message[$json.message.length - 1]).conversationId }}",
                      "rightValue": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ignorar"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "e1dc8881-3d12-4e62-9737-16c03af32a9f",
                      "operator": {
                        "type": "dateTime",
                        "operation": "before"
                      },
                      "leftValue": "={{ $json.message && $json.message.length > 0 ? new Date(Number(JSON.parse($json.message[$json.message.length - 1]).timestamp)) : new Date() }}",
                      "rightValue": "={{ $now.minus(4, 'seconds') }}"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "continuar"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Esperar"
          }
        },
        "id": "d3d3191a-63ad-42c5-8163-cf9d72b88111",
        "name": "Switch4",
        "type": "n8n-nodes-base.switch",
        "position": [
          -688,
          2672
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {},
        "id": "7b5f7194-165a-49b2-ac3c-fd17fe1e123d",
        "name": "No Operation, do nothing8",
        "type": "n8n-nodes-base.noOp",
        "position": [
          -448,
          2512
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}"
        },
        "id": "3de38b3d-c8f5-41ab-82cc-9c8fafc662d0",
        "name": "Delete buffer",
        "type": "n8n-nodes-base.redis",
        "position": [
          -448,
          2688
        ],
        "typeVersion": 1,
        "credentials": {
          "redis": {
            "id": "UBGlgkl96cWVWRS3",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54b459d-e8df-47e1-be8c-a8a476ab93c3",
                "name": "content",
                "type": "string",
                "value": "={{ $json.text }}"
              },
              {
                "id": "1b078c6c-6824-43e2-8bff-8a56fca7a1c9",
                "name": "timestamp",
                "type": "string",
                "value": "={{ $('descargar audio').item.json.timestamp }}"
              },
              {
                "id": "428271e1-4a76-4831-81d9-d7cebda133f8",
                "name": "conversation_id",
                "type": "string",
                "value": "={{ $('descargar audio').item.json.conversationId }}"
              },
              {
                "id": "3a196970-f8fe-49e9-b0fe-cedbb5b73ae3",
                "name": "acount_id",
                "type": "string",
                "value": "={{ $('descargar audio').item.json.accountId }}"
              }
            ]
          },
          "options": {}
        },
        "id": "91157d7d-0c19-409d-8fd4-ca30343cd7e1",
        "name": "contenido de audio",
        "type": "n8n-nodes-base.set",
        "position": [
          -1776,
          2512
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "message",
          "key": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}",
          "options": {}
        },
        "id": "ce43f59c-cfc7-42ad-9d22-83fa3f87d75f",
        "name": "obtener todos mensajes1",
        "type": "n8n-nodes-base.redis",
        "position": [
          -976,
          2688
        ],
        "typeVersion": 1,
        "credentials": {
          "redis": {
            "id": "UBGlgkl96cWVWRS3",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "try {\n  // ═══════════════════════════════════════════\n  // LEER INPUT — viene de \"Interpretar Imagen Producto\"\n  // ═══════════════════════════════════════════\n  const inputData = $input.first()?.json || {};\n  const rawAnalysis = inputData?.content || \"\";\n\n  // Leer contexto del flujo\n  let conversationId = \"sin_id\";\n  let timestamp = String(Date.now());\n  let accountId = \"1\";\n\n  try {\n    const extraerDatos = $('Extraer Datos del Mensaje1').first()?.json || {};\n    conversationId = extraerDatos.conversationId || extraerDatos.chatId || \"sin_id\";\n    timestamp = extraerDatos.timestamp || String(Date.now());\n    accountId = extraerDatos.accountId || \"1\";\n  } catch(e) {\n    console.log('⚠️ No se pudo leer Extraer Datos del Mensaje1:', e.message);\n  }\n\n  console.log('🖼️ conversationId:', conversationId);\n  console.log('🖼️ Raw analysis (primeros 200):', rawAnalysis.substring(0, 200));\n\n  // ═══════════════════════════════════════════\n  // LIMPIAR BACKTICKS\n  // ═══════════════════════════════════════════\n  const cleanJson = rawAnalysis\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  console.log('🧹 JSON limpio:', cleanJson.substring(0, 200));\n\n  // ═══════════════════════════════════════════\n  // PARSEAR JSON\n  // ═══════════════════════════════════════════\n  let analysisData = {};\n\n  try {\n    analysisData = JSON.parse(cleanJson);\n    console.log('✅ JSON parseado. tipo:', analysisData.tipo);\n  } catch (e) {\n    console.log('⚠️ No es JSON válido:', e.message);\n    const tipoMatch = cleanJson.match(/\"tipo\"\\s*:\\s*\"([^\"]+)\"/);\n    if (tipoMatch) {\n      analysisData.tipo = tipoMatch[1];\n      console.log('🔧 Tipo extraído con regex:', analysisData.tipo);\n    }\n  }\n\n  // ═══════════════════════════════════════════\n  // CLASIFICAR\n  // ═══════════════════════════════════════════\n  const tipo = (analysisData.tipo || '').toUpperCase();\n\n  const esPez         = tipo === 'PEZ';\n  const esPlanta      = tipo === 'PLANTA';\n  const esEquipo      = tipo === 'EQUIPO';\n  const esComprobante = tipo === 'COMPROBANTE';\n\n  // Campos comunes\n  const descripcion      = analysisData.descripcion      || '';\n  const colores          = (analysisData.colores          || []).join(', ') || 'no identificados';\n  const caracteristicas  = (analysisData.caracteristicas  || []).join(', ');\n  const precios_visibles = analysisData.precios_visibles  || [];\n  const preciosTexto     = precios_visibles.length > 0\n    ? `Precios visibles en la imagen: ${precios_visibles.join(' | ')}`\n    : 'No hay precios visibles en la imagen.';\n\n  let finalContent = '';\n\n  // ─── COMPROBANTE ───────────────────────────\n  if (esComprobante) {\n    finalContent = `[COMPROBANTE_DE_PAGO_DETECTADO]\nDescripción: ${descripcion.substring(0, 300)}\nAcción requerida: Usar herramienta verificar_pago`;\n\n  // ─── PEZ ───────────────────────────────────\n  } else if (esPez) {\n    const especie  = analysisData.especie   || null;\n    const familia  = analysisData.familia   || 'otro';\n    const tipo_agua = analysisData.tipo_agua || 'dulce_tropical';\n    const cantidad = analysisData.cantidad_aparente || '1';\n\n    finalContent = `[IMAGEN_DE_PEZ_DETECTADA]\nEl cliente envió una imagen con peces. Busca disponibilidad con buscar_producto:\n\n- Especie: ${especie || 'No identificada — ver descripción'}\n- Familia: ${familia}\n- Tipo de agua: ${tipo_agua}\n- Colores: ${colores}\n- Características: ${caracteristicas || 'no especificadas'}\n- Cantidad visible: ${cantidad}\n- ${preciosTexto}\n- Descripción completa: ${descripcion}\n\nINSTRUCCIÓN PARA EL AGENTE:\n1. Llama buscar_producto con especie=\"${especie || ''}\", familia=\"${familia}\", tipo_agua=\"${tipo_agua}\"\n2. Si los precios visibles coinciden con tu catálogo, confírmalo al cliente\n3. Si no hay stock, ofrece encargo\n4. NUNCA inventes precio ni disponibilidad — usa SOLO lo que retorne buscar_producto`;\n\n  // ─── PLANTA ────────────────────────────────\n  } else if (esPlanta) {\n    const especie       = analysisData.especie || null;\n    const requerimiento = caracteristicas || 'no especificado';\n\n    finalContent = `[IMAGEN_DE_PLANTA_DETECTADA]\nEl cliente envió una imagen de planta acuática.\n\n- Especie: ${especie || 'No identificada'}\n- Requerimiento: ${requerimiento}\n- Colores: ${colores}\n- ${preciosTexto}\n- Descripción: ${descripcion}\n\nINSTRUCCIÓN PARA EL AGENTE:\n1. Llama buscar_producto con especie=\"${especie || ''}\", tipo=\"planta\"\n2. Si hay precio visible en la imagen, contrástalo con tu catálogo\n3. NUNCA inventes precio ni disponibilidad`;\n\n  // ─── EQUIPO ────────────────────────────────\n  } else if (esEquipo) {\n    const subfamilia = analysisData.familia || 'accesorio';\n\n    finalContent = `[IMAGEN_DE_EQUIPO_DETECTADA]\nEl cliente envió una imagen de equipo o accesorio de acuario.\n\n- Tipo: ${subfamilia}\n- Colores: ${colores}\n- ${preciosTexto}\n- Descripción: ${descripcion}\n\nINSTRUCCIÓN PARA EL AGENTE:\n1. Llama buscar_producto con tipo=\"${subfamilia}\"\n2. Si hay precio visible, contrástalo con tu catálogo\n3. NUNCA inventes precio ni disponibilidad`;\n\n  // ─── OTRO ──────────────────────────────────\n  } else {\n    finalContent = `El cliente envió una imagen que no corresponde a un producto reconocido (${descripcion || 'imagen no identificada'}).\nResponde amablemente preguntando qué pez, planta o equipo le interesa, o que envíe una foto más clara del producto.`;\n    console.log('⚠️ Imagen clasificada como OTRO:', descripcion);\n  }\n\n  console.log('✅ finalContent (primeros 150):', finalContent.substring(0, 150));\n\n  return [{\n    json: {\n      content: finalContent,\n      timestamp: timestamp,\n      conversation_id: conversationId,\n      account_id: accountId,\n      is_comprobante: esComprobante,\n      is_pez: esPez,\n      is_planta: esPlanta,\n      is_equipo: esEquipo,\n      precios_visibles: precios_visibles,\n      especie_detectada: analysisData.especie || null,\n      familia_detectada: analysisData.familia || null,\n      original_analysis: rawAnalysis\n    }\n  }];\n\n} catch (error) {\n  console.error('❌ ERROR CRÍTICO:', error.message);\n\n  let conversationFallback = \"fallback\";\n  let accountFallback = \"1\";\n  try {\n    const fb = $('Extraer Datos del Mensaje1').first()?.json || {};\n    conversationFallback = fb.conversationId || fb.chatId || \"fallback\";\n    accountFallback = fb.accountId || \"1\";\n  } catch(e) {}\n\n  return [{\n    json: {\n      content: \"El cliente envió una imagen. Pídele que describa qué pez, planta o equipo le interesa.\",\n      timestamp: String(Date.now()),\n      conversation_id: conversationFallback,\n      account_id: accountFallback,\n      is_comprobante: false,\n      is_pez: false,\n      is_planta: false,\n      is_equipo: false,\n      precios_visibles: [],\n      especie_detectada: null,\n      familia_detectada: null,\n      error: true,\n      error_message: error.message\n    }\n  }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1776,
          2688
        ],
        "id": "ad4fe79f-9532-4abb-a251-81e2afcd9de6",
        "name": "contenido de la imagen4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "conversation-data",
                "name": "concat_message",
                "type": "string",
                "value": "={{ JSON.parse($json.message[$json.message.length - 1].replace(/^=/, '')).message }}"
              },
              {
                "id": "3c02a5f1-b14e-4d30-bcda-e0c1a1159f27",
                "name": "Conversation_id",
                "type": "string",
                "value": "={{ $('Extraer Datos del Mensaje1').first().json.conversationId }}"
              },
              {
                "id": "54b90d74-3026-45e6-8230-9e0862502cbf",
                "name": "account_id",
                "type": "string",
                "value": "={{ $('Extraer Datos del Mensaje1').first().json.accountId }}"
              },
              {
                "id": "97d20d5c-2577-4816-bb96-18c74b474b4f",
                "name": "username",
                "value": "={{ $('Normalizar Mensaje').item.json.userName }}",
                "type": "string"
              },
              {
                "id": "25de29f4-c4c4-40aa-b1a0-b7a6f99a9cc1",
                "name": "phone number",
                "value": "={{ $('Normalizar Mensaje').item.json.phoneNumber }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "298dbc52-9b3c-410b-8871-d4697a33b64d",
        "name": "concatenar mensaje",
        "type": "n8n-nodes-base.set",
        "position": [
          -160,
          2688
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "amount": 8
        },
        "id": "12646de7-4112-44f7-9240-a10ccf3f687d",
        "name": "Wait4",
        "type": "n8n-nodes-base.wait",
        "position": [
          -448,
          2880
        ],
        "webhookId": "8b0e5470-ea62-4d91-aa15-acda3535df87",
        "typeVersion": 1.1
      },
      {
        "parameters": {},
        "id": "76624c24-9dd2-483a-9c8b-284e8761f35c",
        "name": "Merge Reply Context",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -2768,
          2672
        ],
        "notes": "PASO 5: Reunifica las dos ramas. Input 1 = rama CON reply (viene de Enriquecer). Input 2 = rama SIN reply (viene del IF false). Luego conectar al Switch existente"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "norm-01",
                "name": "messageText",
                "value": "={{ $json.messageType === 'text' ? $json.messageText : $json.messageType === 'image' ? '[IMAGEN] ' + ($json.image_caption || 'sin caption') : $json.messageType === 'audio' ? '[AUDIO]' : $json.messageType === 'document' ? '[DOCUMENTO] ' + $json.document_name : $json.messageType === 'video' ? '[VIDEO]' : $json.messageType === 'sticker' ? '[STICKER]' : $json.messageType === 'location' ? '[UBICACION] ' + $json.location : '[MENSAJE TIPO: ' + $json.messageType + ']' }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3776,
          2656
        ],
        "id": "2e4601e9-48c6-404f-b9f7-69e83d29c1df",
        "name": "Normalizar Mensaje"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "if-reply-01",
                "leftValue": "={{ $json.is_reply }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3536,
          2656
        ],
        "id": "9a0c3f02-5ea4-4155-b34d-88c08e979033",
        "name": "Es Reply?"
      },
      {
        "parameters": {
          "url": "=https://api.ycloud.com/v2/whatsapp/messages/{{ $json.raw_context.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3296,
          2528
        ],
        "id": "44955eea-0bc7-49d6-8308-e7189f5f1065",
        "name": "Traer Mensaje Citado YCloud"
      },
      {
        "parameters": {
          "jsCode": "const current = $('Es Reply?').first().json;\nconst cited = $input.first().json;\n\nlet citedText = '';\nconst type = cited.type ?? '';\n\nif (type === 'text')           citedText = cited.text?.body ?? '';\nelse if (type === 'image')     citedText = '[IMAGEN] ' + (cited.image?.caption || 'sin caption');\nelse if (type === 'audio')     citedText = '[AUDIO]';\nelse if (type === 'document')  citedText = '[DOCUMENTO] ' + (cited.document?.filename || '');\nelse if (type === 'video')     citedText = '[VIDEO]';\nelse if (type === 'sticker')   citedText = '[STICKER]';\nelse                           citedText = '[MENSAJE TIPO: ' + type + ']';\n\nreturn [{\n  json: {\n    ...current,\n    reply_context: 'El cliente responde a: \"' + citedText + '\"',\n    messageText: '[Respondiendo a: \"' + citedText + '\"] ' + (current.text ?? current.concat_message ?? '')\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3056,
          2528
        ],
        "id": "98e25bc4-4316-4e5e-867d-7713efc748cc",
        "name": "Normalizar Reply"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst webhookBody = $(\"Webhook\").item.json.body;\n\n// Support both inbound messages and echo/outbound messages\nconst msg = webhookBody.whatsappInboundMessage || webhookBody.whatsappMessage || {};\n\nconst eventType = webhookBody.type ?? \"\";\nconst isInbound = eventType === \"whatsapp.inbound_message.received\";\nconst wabaId = msg.wabaId ?? \"\";\nconst from = msg.from ?? \"\";\nconst to = msg.to ?? \"\";\n\n// For inbound: from=client, to=business. For echo: from=business, to=client.\n// clientPhone should always be the CLIENT's number\nconst clientPhone = isInbound ? (from || to) : (to || from);\n\nconst name = msg.customerProfile?.name ?? \"\";\nconst type = msg.type ?? \"text\";\nconst sendTime = msg.sendTime ?? \"\";\nconst timestamp = sendTime ? String(new Date(sendTime).getTime()) : String(Date.now());\nconst text = msg.text?.body ?? \"\";\nconst image_url = msg.image?.link ?? \"\";\nconst audio_url = msg.audio?.link ?? \"\";\n\nreturn [{\n  json: {\n    eventType,\n    isInbound,\n    isAgent: false,\n    conversationId: wabaId + \"_\" + clientPhone,\n    accountId: wabaId,\n    chatId: wabaId + \"_\" + clientPhone,\n    wamid: msg.wamid ?? \"\",\n    userName: name,\n    phoneNumber: clientPhone,\n    senderPhone: from,\n    timestamp,\n    sendTime,\n    messageType: type,\n    text,\n    concat_message: text,\n    caption: \"\",\n    mime_type: \"\",\n    image_url,\n    audio_url,\n    video_url: \"\",\n    document_url: \"\",\n    document_name: \"\",\n    sticker_url: \"\",\n    location: \"\",\n    contact_info: \"\",\n    interactive_response: \"\",\n    reaction: \"\",\n    is_reply: false,\n    context_quoted_id: \"\",\n    context_from: \"\",\n    raw_context: null,\n    message: {\n      chatId: wabaId + \"_\" + clientPhone,\n      accountId: wabaId,\n      userName: name,\n      phoneNumber: clientPhone,\n      text,\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4272,
          2336
        ],
        "id": "e0cbfdc7-022b-460c-aebb-6e1e290aac78",
        "name": "Extraer Datos del Mensaje1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c2a",
                "leftValue": "={{ $('Extraer Datos del Mensaje1').item.json.concat_message }}",
                "rightValue": "PAUSAR",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "c2b",
                "leftValue": "={{ $json.escalation_phone }}",
                "rightValue": "={{ $json.escalation_phone }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          256,
          2736
        ],
        "id": "06fa3e99-f550-4314-80cf-f81005b0a8f7",
        "name": "Es PAUSAR?1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c3a",
                "leftValue": "={{ $('Extraer Datos del Mensaje1').item.json.concat_message }}",
                "rightValue": "ACTIVAR",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "c3b",
                "leftValue": "={{ $('traer los numeros').item.json.escalation_phone }}",
                "rightValue": "={{ $('traer los numeros').item.json.escalation_phone }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          256,
          2912
        ],
        "id": "18787b2c-74dc-4510-a549-1bceb1d86ece",
        "name": "Es ACTIVAR?1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c4",
                "leftValue": "={{ $('Webhook').first().json.body.type }}",
                "rightValue": "whatsapp.inbound_message.received",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          256,
          3104
        ],
        "id": "5cacd7a8-621a-490f-839d-d2c831ad98ca",
        "name": "Es mensaje entrante?1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.action }}",
                "rightValue": "escalate",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3104,
          3296
        ],
        "id": "5bf65873-1b5f-44a8-96e4-e22957a70ee7",
        "name": "Es Escalar?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c2",
                "leftValue": "={{ $json.action }}",
                "rightValue": "image",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3104,
          3536
        ],
        "id": "e50cb60e-e672-4d0a-a861-516c3b414f94",
        "name": "Es Imagen?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "c3",
                "leftValue": "={{ $json.action }}",
                "rightValue": "document",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3104,
          3776
        ],
        "id": "73b285c4-1bc5-41b0-b8c7-63c764b2ec27",
        "name": "Es Documento?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"{{ $('Extraer Datos del Mensaje').first().json.to }}\",\n  \"to\": \"{{ $('Extraer Datos del Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\"body\": \"Un momento, te conecto con un agente.\", \"preview_url\": false}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3456,
          3216
        ],
        "id": "a9a0bdb2-5803-4aa6-b27d-a88a795c3e5e",
        "name": "Avisar Cliente Escalando"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ \n  from: '+573015553632', \n  to: '+573016050818', \n  type: 'text', \n  text: { \n    body: 'ESCALACION REQUERIDA\\n\\nNegocio: Omghat Glamping\\nCliente: ' + ($('Extraer Datos del Mensaje').first().json.customerName || $('Extraer Datos del Mensaje').first().json.userName || '') + '\\nNumero: ' + ($('Extraer Datos del Mensaje').first().json.from || '') + '\\nMensaje: ' + ($('Extraer Datos del Mensaje').first().json.messageText || $('Extraer Datos del Mensaje').first().json.text || '') + '\\n\\nResponde RESUELTO cuando termines.', \n    preview_url: false \n  } \n}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3680,
          3216
        ],
        "id": "1b32946a-155a-45a9-81f3-b067f364635d",
        "name": "Notificar Agente WhatsApp"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.url }}\",\n    \"caption\": \"{{ $json.caption }}\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3920,
          3408
        ],
        "id": "fad9957d-29f3-45c1-a0fd-7d9a73a2214f",
        "name": "Enviar Imagen YCloud"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"{{ $('Parsear Imagenes').first().json.from }}\",\n  \"to\": \"{{ $('Parsear Imagenes').first().json.to }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('Parsear Imagenes').first().json.text || \"\") }}\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4528,
          3408
        ],
        "id": "28aecac0-7926-42a4-8bb9-b7468762c6e9",
        "name": "Texto Despues Imagen"
      },
      {
        "parameters": {
          "jsCode": "// Get document from JSON Parser media array\nconst parserData = $('JSON Parser').first().json;\nconst extractData = $('Extraer Datos del Mensaje').first().json;\nconst media = parserData.media || [];\nconst docs = media.filter(m => m.type === \"document\");\nconst firstDoc = docs[0] || {};\n\nif (!firstDoc.url) return [];\n\nreturn [{\n  json: {\n    docUrl: firstDoc.url || \"\",\n    caption: firstDoc.caption || parserData.text || \"\",\n    filename: firstDoc.url ? firstDoc.url.split(\"/\").pop() : \"document\",\n    from: extractData.to || \"\",\n    to: extractData.from || \"\",\n    text: parserData.text || \"\"\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3456,
          3664
        ],
        "id": "2ea20084-e14c-4df7-823c-f2814c3fd02b",
        "name": "Parsear Documento"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"document\",\n  \"document\": {\n    \"link\": \"{{ $json.docUrl }}\",\n    \"filename\": \"{{ $json.filename }}\",\n    \"caption\": \"{{ $json.caption }}\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3712,
          3664
        ],
        "id": "f7b0da6c-9c64-42c6-b405-bdf58e723b00",
        "name": "Enviar Documento YCloud"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "ct2",
                "leftValue": "={{ $('Parsear Documento').first().json.cleanText }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3968,
          3664
        ],
        "id": "65ea9e5b-eb0c-4cb6-8ac0-287681c00864",
        "name": "Tiene Texto Doc?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"{{ $('Parsear Documento').first().json.from }}\",\n  \"to\": \"{{ $('Parsear Documento').first().json.to }}\",\n  \"type\": \"text\",\n  \"text\": {\"body\": \"{{ $('Parsear Documento').first().json.cleanText }}\", \"preview_url\": false}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4272,
          3648
        ],
        "id": "c2fa2970-39da-430a-ba35-a6e2840e5689",
        "name": "Texto Despues Doc"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "581de215309bb5c800a0ef0bde1d06d4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"{{ $('Extraer Datos del Mensaje').first().json.to }}\",\n  \"to\": \"{{ $('Extraer Datos del Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('JSON Parser').first().json.text) }},\n    \"preview_url\": false\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3456,
          3888
        ],
        "id": "d06d12fc-65ef-4bb7-a573-ade1eab0f7aa",
        "name": "Enviar Texto"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO bot_flags (session_key, flag, value, updated_at) VALUES ('{{ $('Extraer Datos del Mensaje').first().json.session_key }}', 'humano_activo', 'true', NOW()) ON CONFLICT (session_key, flag) DO UPDATE SET value = 'true', updated_at = NOW();",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3904,
          3216
        ],
        "id": "dd1f335a-0955-4210-b005-ba7151170db4",
        "name": "Activar Flag Humano1",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT prompt FROM agent_prompts\nWHERE agent_id = '{{ $('Extraer Datos del Mensaje').item.json.agent_id }}'\nLIMIT 1;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1808,
          3264
        ],
        "id": "7b5a975b-d0b1-4f2a-9146-734ab7d3b35e",
        "name": "Prompt",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT title, url\nFROM agent_images\nWHERE agent_id = '{{ $('Extraer Datos del Mensaje').item.json.agent_id }}'\nORDER BY created_at ASC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3456,
          3408
        ],
        "id": "94ef879c-68c7-4619-adb4-f2dd9ed92a8c",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          4336,
          3408
        ],
        "id": "f102b4d8-173e-4cdc-9987-455c8c7ba49c",
        "name": "Limit"
      },
      {
        "parameters": {
          "jsCode": "// Get media array from JSON Parser and expand into individual items\nconst parserData = $('JSON Parser').first().json;\nconst extractData = $('Extraer Datos del Mensaje').first().json;\nconst media = parserData.media || [];\nconst images = media.filter(m => m.type === \"image\");\n\nif (images.length === 0) {\n  // No images in media — return empty to skip sending\n  return [];\n}\n\n// Return one item per image, each with from/to for YCloud API\nreturn images.map(img => ({\n  json: {\n    url: img.url || \"\",\n    caption: img.caption || \"\",\n    from: extractData.to || \"\",\n    to: extractData.from || \"\",\n    text: parserData.text || \"\"\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3680,
          3408
        ],
        "id": "c1568a9c-53f1-4073-ae75-d9462e51f465",
        "name": "Parsear Imagenes"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c4",
                "leftValue": "={{ $('Webhook').first().json.body.type }}",
                "rightValue": "whatsapp.inbound_message.received",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3920,
          2336
        ],
        "id": "5bc44af2-d964-40ab-9c92-6d40be665865",
        "name": "Es mensaje entrante?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4128,
          3408
        ],
        "id": "2d8b2992-48c4-459b-a83c-75fc58b73649",
        "name": "Wait",
        "webhookId": "9ca6a605-a6e4-43d7-b987-88e75aa96125"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\n// Support both inbound messages and echo/outbound messages\nconst msg = body.whatsappInboundMessage || body.whatsappMessage || {};\n\nconst wabaId = msg.wabaId ?? '';\nconst from = msg.from ?? '';\nconst to = msg.to ?? '';\nconst customerName = (msg.customerProfile && msg.customerProfile.name) ? msg.customerProfile.name : '';\nconst messageType = msg.type ?? 'text';\nconst messageText = (msg.text && msg.text.body) ? msg.text.body : '';\nconst audioLink = (msg.audio && msg.audio.link) ? msg.audio.link : '';\nconst imageLink = (msg.image && msg.image.link) ? msg.image.link : '';\nconst sendTime = msg.sendTime ?? '';\nconst eventId = body.id ?? '';\nconst cuenta = wabaId === '1357538772723544' ? 'Soporte La Agencia'\n             : wabaId === '103732319475349' ? 'Imperio Acuático'\n             : 'Desconocida';\n\nreturn [{\n  json: {\n    wabaId,\n    from,\n    to,\n    customerName,\n    messageType,\n    messageText,\n    audioLink,\n    imageLink,\n    sendTime,\n    eventId,\n    cuenta,\n    chat_id: ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4784,
          2336
        ],
        "id": "9d59da1e-aaa0-46ab-a672-f645f1213bad",
        "name": "Extraer Datos del Mensaje2"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT ap.escalation_phone, ap.admin_phone, ap.phones_list, ap.agent_id, \n       COALESCE(a.status, 'active') as agent_status,\n       COALESCE(a.algorithm_type, 'default') as algorithm_type\nFROM agent_phones ap\nLEFT JOIN agents a ON a.id::text = ap.agent_id\nWHERE ap.waba_id = '{{ $json.account_id ?? $json.accountId ?? \"\" }}'\nAND ap.agent_id IS NOT NULL\nLIMIT 1;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -16,
          2240
        ],
        "id": "42b18900-8336-4f1d-b066-26f6c8417924",
        "name": "traer los numeros",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.algorithm_type }}",
                      "rightValue": "appointments",
                      "operator": { "type": "string", "operation": "equals" }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "appointments"
              }
            ]
          },
          "options": { "fallbackOutput": "extra" }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [208, 2240],
        "id": "switch-algorithm-type-001",
        "name": "Switch: Algorithm Type"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6LBitbc9szNZ7LDR",
            "mode": "id"
          },
          "options": { "waitForSubWorkflow": true },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "agent_id": "={{ $json.agent_id }}",
              "messageText": "={{ $('concatenar mensaje').item.json.messageText }}",
              "from": "={{ $('concatenar mensaje').item.json.from }}",
              "wabaId": "={{ $('concatenar mensaje').item.json.wabaId }}",
              "sessionId": "={{ $('concatenar mensaje').item.json.from + '_' + $json.agent_id }}"
            },
            "schema": [
              { "id": "agent_id", "displayName": "agent_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
              { "id": "messageText", "displayName": "messageText", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
              { "id": "from", "displayName": "from", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
              { "id": "wabaId", "displayName": "wabaId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
              { "id": "sessionId", "displayName": "sessionId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [432, 2160],
        "id": "exec-subwf-citas-001",
        "name": "Ejecutar Sub-Workflow Citas"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO waba_registry (waba_id)\nVALUES ('{{ $json.wabaId }}')\nON CONFLICT (waba_id) DO NOTHING;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -4544,
          2336
        ],
        "id": "bdcd4e7a-af8e-45fb-b2c2-b9b9f46acd0a",
        "name": "Execute a SQL query1",
        "credentials": {
          "postgres": {
            "id": "CKPxQ5aeL7WnRpPE",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse AI Agent JSON output with fallback for old-format agents\nconst raw = $input.first().json.output || $input.first().json.text || \"\";\nlet parsed;\ntry {\n  // Try to find JSON in the response\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error(\"No JSON found\");\n  }\n} catch (e) {\n  // Fallback: old tag-based format for backward compatibility\n  const isEscalar = /\\[ESCALAR\\]/i.test(raw);\n  const imgMatch = raw.match(/\\[IMG:(.*?)\\]/);\n  const docMatch = raw.match(/\\[DOC:(.*?)\\]/);\n  \n  let action = \"text\";\n  let media = [];\n  let text = raw.replace(/\\[ESCALAR\\]/gi, \"\").replace(/\\[IMG:.*?\\]/g, \"\").replace(/\\[DOC:.*?\\]/g, \"\").trim();\n  \n  if (isEscalar) action = \"escalate\";\n  else if (imgMatch) {\n    action = \"image\";\n    media.push({ type: \"image\", url: imgMatch[1], caption: \"\" });\n  }\n  else if (docMatch) {\n    action = \"document\";\n    media.push({ type: \"document\", url: docMatch[1], caption: \"\" });\n  }\n  \n  parsed = { text, action, media };\n}\n\nreturn [{ json: parsed }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2576,
          3280
        ],
        "id": "ab8fd5bd-e71e-4303-b0b9-88b4df8dc53e",
        "name": "JSON Parser"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          528,
          3344
        ],
        "id": "84790e86-a111-441c-bbf5-144d942e8212",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "jsCode": "const agentData = $input.first().json;\nconst senderPhone = $('Extraer Datos del Mensaje1').first().json.phoneNumber ?? '';\nconst agentStatus = agentData.agent_status ?? 'active';\nconst adminPhone = agentData.admin_phone ?? '';\nconst SUPERADMIN_PHONE = '+573016050818';\n\n// If agent is in production mode, allow all messages\nif (agentStatus === 'active') {\n  return [{ json: { ...agentData, allowed: true } }];\n}\n\n// If agent is inactive, block all\nif (agentStatus === 'inactive') {\n  return [{ json: { ...agentData, allowed: false } }];\n}\n\n// setup or testing mode: only allow admin and superadmin\nconst normalize = (p) => p.replace(/[^0-9]/g, '');\nconst senderNorm = normalize(senderPhone);\nconst adminNorm = normalize(adminPhone);\nconst superNorm = normalize(SUPERADMIN_PHONE);\n\nconst isAdmin = senderNorm.length > 0 && (senderNorm === adminNorm || senderNorm.endsWith(adminNorm.slice(-10)) || adminNorm.endsWith(senderNorm.slice(-10)));\nconst isSuperAdmin = senderNorm.length > 0 && (senderNorm === superNorm || senderNorm.endsWith(superNorm.slice(-10)) || superNorm.endsWith(senderNorm.slice(-10)));\n\nif (isAdmin || isSuperAdmin) {\n  return [{ json: { ...agentData, allowed: true } }];\n}\n\n// Not allowed\nreturn [{ json: { ...agentData, allowed: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          2240
        ],
        "id": "filtro-modo-pruebas-001",
        "name": "Filtro Modo Pruebas"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "allowed-check",
                "leftValue": "={{ $json.allowed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          2240
        ],
        "id": "permitir-mensaje-001",
        "name": "Permitir Mensaje?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          784,
          2288
        ],
        "id": "ignorar-pruebas-001",
        "name": "Ignorar (Modo Pruebas)"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Extraer Datos del Mensaje2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es RESUELTO?": {
        "main": [
          [
            {
              "node": "Desactivar Flag Humano1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Es PAUSAR?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pausar Bot Global": {
        "main": [
          [
            {
              "node": "Confirmar: Bot Pausado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Activar Bot Global": {
        "main": [
          [
            {
              "node": "Confirmar: Bot Activado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Bot Global": {
        "main": [
          [
            {
              "node": "Bot Pausado Globalmente?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bot Pausado Globalmente?": {
        "main": [
          [
            {
              "node": "Stop: Bot Pausado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Verificar Flag Humano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Humano Activo?1": {
        "main": [
          [
            {
              "node": "Persona atendiendo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Desactivar Flag Humano1": {
        "main": [
          [
            {
              "node": "Avisar Cliente: Bot Reactivado1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer Datos del Mensaje": {
        "main": [
          [
            {
              "node": "Verificar Bot Global",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Flag Humano": {
        "main": [
          [
            {
              "node": "Humano Activo?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "JSON Parser",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Qdrant Vector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "descargar audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "descargar imagen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "text content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "descargar audio": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "contenido de audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "descargar imagen": {
        "main": [
          [
            {
              "node": "Interpretar Imagen Producto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Interpretar Imagen Producto": {
        "main": [
          [
            {
              "node": "contenido de la imagen4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "text content": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "buffer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "buffer": {
        "main": [
          [
            {
              "node": "obtener todos mensajes1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch4": {
        "main": [
          [
            {
              "node": "No Operation, do nothing8",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete buffer",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete buffer": {
        "main": [
          [
            {
              "node": "concatenar mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contenido de audio": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "obtener todos mensajes1": {
        "main": [
          [
            {
              "node": "Switch4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contenido de la imagen4": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Wait4": {
        "main": [
          [
            {
              "node": "obtener todos mensajes1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Reply Context": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "concatenar mensaje": {
        "main": [
          [
            {
              "node": "traer los numeros",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Mensaje": {
        "main": [
          [
            {
              "node": "Es Reply?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es Reply?": {
        "main": [
          [
            {
              "node": "Traer Mensaje Citado YCloud",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Reply Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Traer Mensaje Citado YCloud": {
        "main": [
          [
            {
              "node": "Normalizar Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer Datos del Mensaje1": {
        "main": [
          [
            {
              "node": "Es mensaje entrante?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Reply": {
        "main": [
          [
            {
              "node": "Merge Reply Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es PAUSAR?1": {
        "main": [
          [
            {
              "node": "Pausar Bot Global",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Es ACTIVAR?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es ACTIVAR?1": {
        "main": [
          [
            {
              "node": "Activar Bot Global",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Es mensaje entrante?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es mensaje entrante?1": {
        "main": [
          [
            {
              "node": "Extraer Datos del Mensaje",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es Escalar?": {
        "main": [
          [
            {
              "node": "Avisar Cliente Escalando",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Es Imagen?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es Imagen?": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Es Documento?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es Documento?": {
        "main": [
          [
            {
              "node": "Parsear Documento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar Texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avisar Cliente Escalando": {
        "main": [
          [
            {
              "node": "Notificar Agente WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notificar Agente WhatsApp": {
        "main": [
          [
            {
              "node": "Activar Flag Humano1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Imagen YCloud": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsear Documento": {
        "main": [
          [
            {
              "node": "Enviar Documento YCloud",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Documento YCloud": {
        "main": [
          [
            {
              "node": "Tiene Texto Doc?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tiene Texto Doc?": {
        "main": [
          [
            {
              "node": "Texto Despues Doc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompt": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Parsear Imagenes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Texto Despues Imagen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsear Imagenes": {
        "main": [
          [
            {
              "node": "Enviar Imagen YCloud",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es mensaje entrante?": {
        "main": [
          [
            {
              "node": "Normalizar Mensaje",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "traer los numeros",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer Datos del Mensaje2": {
        "main": [
          [
            {
              "node": "Execute a SQL query1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "traer los numeros": {
        "main": [
          [
            {
              "node": "Switch: Algorithm Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: Algorithm Type": {
        "main": [
          [
            {
              "node": "Ejecutar Sub-Workflow Citas",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Filtro Modo Pruebas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query1": {
        "main": [
          [
            {
              "node": "Extraer Datos del Mensaje1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "JSON Parser": {
        "main": [
          [
            {
              "node": "Es Escalar?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro Modo Pruebas": {
        "main": [
          [
            {
              "node": "Permitir Mensaje?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Permitir Mensaje?": {
        "main": [
          [
            {
              "node": "Es RESUELTO?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ignorar (Modo Pruebas)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "AIC studio youtube",
    "name": "Version c96c6d2d",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-12T14:40:00.917Z",
        "id": 202,
        "workflowId": "gAcBlzbvb525JWir",
        "versionId": "c96c6d2d-3849-466c-862e-59abcec32dbc",
        "event": "activated",
        "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70"
      }
    ]
  }
}
