n8n-workflows/twk0YTgD32xtowZw_My_workflow_3.json
{
  "updatedAt": "2026-02-04T19:21:43.197Z",
  "createdAt": "2026-02-03T21:04:36.572Z",
  "id": "twk0YTgD32xtowZw",
  "name": "My workflow 3",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "094654c9-0ef7-4f89-9d64-46475e84c123",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        -16
      ]
    },
    {
      "parameters": {},
      "id": "8580b2e5-cb0e-4553-8bc3-9377ca94631a",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        288,
        -48
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3b5921b4-8fe7-4036-bdaa-89aef099289d",
      "name": "Webhook - Recibir Respuesta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -704,
        416
      ],
      "webhookId": "whatsapp-form-response",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -16
      ],
      "id": "d10ed169-2c3a-4489-81b8-6cf904db1e82",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// ====================================\n// PROCESAR RESPUESTAS DE FORMULARIO WHATSAPP\n// ====================================\nconst entries = $input.all();\nconst formResponses = [];\n\nfor (const entry of entries) {\n  const body = entry.json.body;\n  \n  // Verificar que sea un mensaje del formulario\n  if (body?.entry?.[0]?.changes?.[0]?.value?.messages) {\n    const messages = body.entry[0].changes[0].value.messages;\n    \n    for (const message of messages) {\n      // Filtrar solo respuestas de formulario (nfm_reply)\n      if (message.type === 'interactive' && \n          message.interactive?.type === 'nfm_reply') {\n        \n        const phone = message.from;\n        const messageId = message.id;\n        const timestamp = message.timestamp;\n        \n        // Extraer datos del formulario\n        const responseJson = message.interactive.nfm_reply.response_json;\n        const formData = JSON.parse(responseJson);\n        \n        // LOG COMPLETO PARA DEBUG\n        console.log('=== FORM DATA COMPLETO ===');\n        console.log(JSON.stringify(formData, null, 2));\n        \n        // Extraer valores con múltiples variantes posibles\n        const nombre = (\n          formData.screen_0_Nombre_0 || \n          formData.Nombre_0395a7 || \n          formData.Nombre || \n          formData.nombre || \n          ''\n        ).trim();\n        \n        const apellido = (\n          formData.screen_0_Apellido_1 || \n          formData.Apellido_a46de2 || \n          formData.Apellido || \n          formData.apellido || \n          ''\n        ).trim();\n        \n        const telefono = (\n          formData.screen_0_Telefono_2 || \n          formData.Telefono_fe1365 || \n          formData.Telefono || \n          formData.telefono || \n          ''\n        ).trim();\n        \n        const ciudad = (\n          formData.screen_0_Ciudad_3 || \n          formData.Ciudad_c7e891 || \n          formData.Ciudad || \n          formData.ciudad || \n          ''\n        ).trim();\n        \n        const direccion = (\n          formData.screen_0_Direccion_4 || \n          formData.screen_0_Direccion_3 || \n          formData.Direccion_d9fd55 || \n          formData.Direccion || \n          formData.direccion || \n          ''\n        ).trim();\n        \n        const tipoNegocio = (\n          formData.screen_0_Tipo_de_negocio_5 || \n          formData.screen_0_Tipo_de_negocio_4 || \n          formData.Tipo_de_negocio_9f606b || \n          formData['Tipo de negocio'] || \n          formData.tipo_negocio || \n          formData.Tipo_de_negocio ||\n          ''\n        ).trim();\n        \n        // LOG DE CAMPOS EXTRAÍDOS\n        console.log('=== CAMPOS EXTRAÍDOS ===');\n        console.log('Nombre:', nombre);\n        console.log('Apellido:', apellido);\n        console.log('Teléfono:', telefono);\n        console.log('Ciudad:', ciudad);\n        console.log('Dirección:', direccion);\n        console.log('Tipo Negocio:', tipoNegocio);\n        \n        // Normalizar teléfono (solo números)\n        const phoneFormatted = phone.replace(/[^0-9]/g, '');\n        \n        // Fecha formateada\n        const date = new Date(parseInt(timestamp) * 1000);\n        const fechaFormateada = date.toLocaleString('es-CO', {\n          timeZone: 'America/Bogota',\n          year: 'numeric',\n          month: '2-digit',\n          day: '2-digit',\n          hour: '2-digit',\n          minute: '2-digit',\n          second: '2-digit'\n        });\n        \n        const nombreCompleto = `${nombre} ${apellido}`.trim();\n        \n// ====================================\n// MENSAJE DE WHATSAPP - VERSIÓN MEJORADA\n// ====================================\n\n// Construir el mensaje de texto para WhatsApp\nconst mensajeWhatsApp = \"Hola, soy \" + nombre + \" \" + apellido + \" y necesito un crédito, quiero más información\";\n\n// Construir el mensaje completo que se mostrará\nconst whatsappMessage = \n  \"✅ ¡Listo \" + nombreCompleto + \"!\\n\\n\" +\n  \"Tus datos fueron recibidos con éxito. ✨\\n\\n\" +\n  \"💡 Habla AHORA MISMO con un asesor y recibe tu crédito lo antes posible. 🚀\\n\\n\" +\n  \"📲 TOCA AQUÍ para hablar con un asesor:\\n\" +\n  \"https://wa.me/595974270790?text=\" + encodeURIComponent(mensajeWhatsApp) + \"\\n\\n\" +\n  \"💰 Créditos El Paisa\\n\" +\n  \"Tu mejor opción en créditos rápida y confiable.\";\n        // ====================================\n        // PAYLOAD PARA WHATSAPP API\n        // ====================================\n        const whatsappApiPayload = {\n          messaging_product: \"whatsapp\",\n          to: phoneFormatted,\n          type: \"text\",\n          text: {\n            body: whatsappMessage\n          }\n        };\n\n        // ====================================\n        // HTML PARA CORREO\n        // ====================================\n        const emailHTML = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: #f4f4f4; margin: 0; padding: 0; }\n    .container { max-width: 650px; margin: 30px auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #25D366 0%, #128C7E 100%); color: white; padding: 40px 30px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; font-weight: 600; }\n    .header p { margin: 10px 0 0 0; opacity: 0.95; font-size: 16px; }\n    .content { padding: 40px 30px; }\n    .field { margin: 20px 0; padding: 18px; background: #f8f9fa; border-left: 4px solid #25D366; border-radius: 8px; }\n    .label { font-weight: 600; color: #128C7E; font-size: 13px; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 8px; display: block; }\n    .value { color: #2c3e50; font-size: 17px; margin: 0; word-break: break-word; }\n    .footer { background: #f8f9fa; padding: 25px; text-align: center; color: #6c757d; font-size: 13px; border-top: 1px solid #e9ecef; }\n    .badge { display: inline-block; background: #25D366; color: white; padding: 5px 12px; border-radius: 20px; font-size: 12px; font-weight: 600; margin-top: 10px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>💰 Nuevo Registro</h1>\n      <p>Solicitud de préstamo recibida</p>\n      <span class=\"badge\">CREDITOS EL PAISA</span>\n    </div>\n    <div class=\"content\">\n      <div class=\"field\">\n        <span class=\"label\">👤 Nombre Completo</span>\n        <p class=\"value\">${nombreCompleto}</p>\n      </div>\n      <div class=\"field\">\n        <span class=\"label\">📱 Teléfono WhatsApp</span>\n        <p class=\"value\">+${phoneFormatted}</p>\n      </div>\n      <div class=\"field\">\n        <span class=\"label\">📱 Teléfono del Formulario</span>\n        <p class=\"value\">${telefono}</p>\n      </div>\n      <div class=\"field\">\n        <span class=\"label\">🌆 Ciudad</span>\n        <p class=\"value\">${ciudad}</p>\n      </div>\n      <div class=\"field\">\n        <span class=\"label\">📍 Dirección</span>\n        <p class=\"value\">${direccion}</p>\n      </div>\n      <div class=\"field\">\n        <span class=\"label\">🏢 Tipo de Negocio</span>\n        <p class=\"value\">${tipoNegocio}</p>\n      </div>\n      <div class=\"field\">\n        <span class=\"label\">📅 Fecha y Hora</span>\n        <p class=\"value\">${fechaFormateada}</p>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p><strong>Sistema de Registro Automático</strong></p>\n      <p>Este mensaje fue generado automáticamente por WhatsApp Business</p>\n      <p style=\"margin-top: 15px; color: #128C7E; font-weight: 600;\">Creditos El Paisa © 2025</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\n        // ====================================\n        // DATOS PARA GOOGLE SHEETS\n        // ====================================\n        const sheetData = {\n          nombre: nombre,\n          apellido: apellido,\n          nombre_completo: nombreCompleto,\n          telefono_whatsapp: `+${phoneFormatted}`,\n          telefono_formulario: telefono,\n          ciudad: ciudad,\n          direccion: direccion,\n          tipo_negocio: tipoNegocio,\n          fecha: fechaFormateada,\n          fecha_iso: date.toISOString(),\n          message_id: messageId,\n          timestamp: timestamp\n        };\n\n        // Log para debugging\n        console.log('✅ Formulario procesado:', nombreCompleto);\n        \n        // ====================================\n        // OBJETO COMPLETO CON TODAS LAS VARIABLES\n        // ====================================\n        formResponses.push({\n          // Datos básicos\n          phone: phone,\n          phone_formatted: phoneFormatted,\n          message_id: messageId,\n          timestamp: timestamp,\n          \n          // Fechas\n          fecha: date.toISOString(),\n          fecha_formateada: fechaFormateada,\n          \n          // Datos del cliente\n          nombre: nombre,\n          apellido: apellido,\n          nombre_completo: nombreCompleto,\n          telefono_form: telefono,\n          ciudad: ciudad,\n          direccion: direccion,\n          tipo_negocio: tipoNegocio,\n          \n          // Contenido para WhatsApp (texto plano)\n          whatsapp_message: whatsappMessage,\n          \n          // Payload completo para WhatsApp API (objeto JSON)\n          whatsapp_api_payload: whatsappApiPayload,\n          \n          // Contenido para Email\n          email_html: emailHTML,\n          email_subject: `🔔 Nuevo registro WhatsApp - ${nombreCompleto}`,\n          \n          // Datos para Google Sheets\n          sheet_data: sheetData,\n          \n          // Data completa del formulario (respaldo)\n          form_data_complete: formData\n        });\n      }\n    }\n  }\n}\n\n// Log final\nconsole.log('=============================');\nconsole.log('Total formularios procesados:', formResponses.length);\nconsole.log('=============================');\n\n// Si no hay respuestas de formulario, retornar array vacío\nif (formResponses.length === 0) {\n  console.log('⚠️ No se encontraron respuestas de formulario');\n  return [];\n}\n\n// Retornar los datos procesados\nreturn formResponses;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        416
      ],
      "id": "349dfc36-b30f-4863-a6e7-d9caee48f7c6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        400
      ],
      "id": "c1d67ab7-5ef7-42a6-a4a9-05e67fd215bb",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fbf0cb3-2a90-424f-8b5e-63131e2d75c5",
              "name": "nombre",
              "value": "={{ $json.nombre_completo }}",
              "type": "string"
            },
            {
              "id": "1470e7b5-2e4e-4d22-8b87-818dab791fe6",
              "name": "Tipo_negocio",
              "value": "={{ $json.tipo_negocio }}",
              "type": "string"
            },
            {
              "id": "21ea90b4-1c5e-435d-a8b0-4f8acbd2357b",
              "name": "ciudad",
              "value": "={{ $json.ciudad }}",
              "type": "string"
            },
            {
              "id": "4d783999-face-4646-bcd8-734967038b48",
              "name": "Direccion",
              "value": "={{ $json.direccion }}",
              "type": "string"
            },
            {
              "id": "a4d69359-ff7c-421e-922a-cb629c7e5882",
              "name": "telefono",
              "value": "={{ $json.telefono_form }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        752
      ],
      "id": "a7e0c36a-511f-4592-9185-822b3efcad6c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dff9ffd7-44c7-47c0-9ddb-e1030c9dc838",
              "name": "numero de telefono",
              "value": "573015553632",
              "type": "string"
            },
            {
              "id": "3d06444b-b072-449b-b625-e727b0aa7042",
              "name": "nombre",
              "value": "Prueba",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -192
      ],
      "id": "dc83057b-2db4-4390-ab5e-27638e785e97",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "path": "whatsapp-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        800
      ],
      "id": "e256b7d8-7280-4825-b67a-204e5d49495a",
      "name": "Webhook",
      "webhookId": "40f7afb3-b4a5-4c00-97a6-f88e7931fd1c"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -416,
        800
      ],
      "id": "500fb870-5803-4588-a3c7-a01b6b888bff",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-GBHlVL--vIjvfn4LME9TmtpVy1BWUgZr6bS_dD08FA",
          "mode": "list",
          "cachedResultName": "Registro clientes Creditos El Paisa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GBHlVL--vIjvfn4LME9TmtpVy1BWUgZr6bS_dD08FA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-GBHlVL--vIjvfn4LME9TmtpVy1BWUgZr6bS_dD08FA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.nombre }}",
            "Tipo de negocio": "={{ $json.Tipo_negocio }}",
            "Direccion": "={{ $json.Direccion }}",
            "Telefono": "={{ $json.telefono }}",
            "Ciudad": "={{ $json.ciudad }}"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de negocio",
              "displayName": "Tipo de negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Direccion",
              "displayName": "Direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        752
      ],
      "id": "6cc15ff0-da55-4c09-a708-008c16ed0967",
      "name": "Registro base de datos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jBQzjbkKrJHsDcJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1025263887333338/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.whatsapp_api_payload) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        400
      ],
      "id": "8e54f0bc-7004-427e-ad96-2731a32f436f",
      "name": "Envio mensaje de confirmacion",
      "credentials": {
        "whatsAppApi": {
          "id": "uqOMtNdEsEculwem",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1025263887333338/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json['numero de telefono'] }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"creditos_el_paisa_ok\",\n    \"language\": {\n      \"code\": \"es\"\n    },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": {\n              \"link\": \"https://devsupabase.automatesolutions.tech/storage/v1/object/public/whatsapp-image/Gemini_Generated_Image_vmlt9lvmlt9lvmlt.png\"\n            }\n          }\n        ]\n      },\n      {\n        \"type\": \"button\",\n        \"sub_type\": \"flow\",\n        \"index\": 0,\n        \"parameters\": [\n          {\n            \"type\": \"action\",\n            \"action\": {\n              \"flow_token\": \"\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        160
      ],
      "id": "beaaaade-17f2-4d00-9faf-c5ac08bc2d0c",
      "name": "Envio plantilla Wpp",
      "credentials": {
        "whatsAppApi": {
          "id": "uqOMtNdEsEculwem",
          "name": "WhatsApp account"
        },
        "httpHeaderAuth": {
          "id": "j6X485CzbFvFu011",
          "name": "WPP auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "prestamospaisa4@gmail.com",
        "subject": "=🔔 Nuevo registro WhatsApp - {{ $json.nombre_completo }}",
        "message": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "06cdfaf8-6bdd-4bc3-ba33-181f9eda4ccd",
      "name": "Gmail - Notificar",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        592
      ],
      "webhookId": "30f82442-a884-4dc1-b18e-5f5bb06f2841",
      "credentials": {
        "gmailOAuth2": {
          "id": "bfuwX6c6Eyn7lIEk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10Axei83J2jHV3llP2yRJAmAoa0LsXXtha-39om_Urfo",
          "mode": "list",
          "cachedResultName": "Lista whatsapp ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Axei83J2jHV3llP2yRJAmAoa0LsXXtha-39om_Urfo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Axei83J2jHV3llP2yRJAmAoa0LsXXtha-39om_Urfo/edit#gid=0"
        },
        "options": {}
      },
      "id": "91515f56-94c8-438e-ac3f-bd26ba6ed573",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -368,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jBQzjbkKrJHsDcJS",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio plantilla Wpp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Recibir Respuesta": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envio mensaje de confirmacion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Notificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Registro base de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio mensaje de confirmacion": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio plantilla Wpp": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5827c1b5-a348-4aee-87b7-4e3250b0d5ab",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-03T21:04:36.572Z",
      "createdAt": "2026-02-03T21:04:36.572Z",
      "role": "workflow:owner",
      "workflowId": "twk0YTgD32xtowZw",
      "projectId": "Vt5Eyc9ezInhgXE9",
      "project": {
        "updatedAt": "2025-12-31T14:40:13.685Z",
        "createdAt": "2025-12-31T14:38:28.497Z",
        "id": "Vt5Eyc9ezInhgXE9",
        "name": "AIC studio youtube <aicstudioai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
        "projectRelations": [
          {
            "updatedAt": "2025-12-31T14:38:28.497Z",
            "createdAt": "2025-12-31T14:38:28.497Z",
            "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
            "projectId": "Vt5Eyc9ezInhgXE9",
            "user": {
              "updatedAt": "2026-03-12T03:40:50.130Z",
              "createdAt": "2025-12-31T14:38:27.198Z",
              "id": "058da315-9cf0-40b2-a5e7-f1395e13be70",
              "email": "aicstudioai@gmail.com",
              "firstName": "AIC studio",
              "lastName": "youtube",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T14:40:51.287Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "devops",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "o8O9K4oWZdyaJqOT",
                "userActivatedAt": 1772737355723,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770152675504
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
