n8n-workflows/uFej6OoU72j0Dy4W_la_agencia.json
{
  "updatedAt": "2026-03-04T22:29:00.987Z",
  "createdAt": "2026-02-28T15:44:04.718Z",
  "id": "uFej6OoU72j0Dy4W",
  "name": "la agencia",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aic_laagencia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -48
      ],
      "id": "5a221750-3f2f-4893-a59f-22ed6a132a40",
      "name": "Webhook",
      "webhookId": "437629a2-d67b-43de-b007-901bdfeaaf4f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "respondes coherente ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        -784
      ],
      "id": "92693bd8-0cba-4b61-a2e5-e318174536da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        -576
      ],
      "id": "68fb9d7b-ff4c-4607-b2d1-17ec7fe911dd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XrIlSDlaUJgC5q2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "cd3e0f06850e75904318fb3d16154a90"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.to }}\", \n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\", \n  \"type\": \"text\", \n  \"text\": { \n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        -784
      ],
      "id": "25bbd79e-6208-4da9-89b0-0f12985630d7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wabaId",
              "name": "wabaId",
              "value": "={{ $json.body.whatsappInboundMessage.wabaId }}",
              "type": "string"
            },
            {
              "id": "from",
              "name": "from",
              "value": "={{ $json.body.whatsappInboundMessage.from }}",
              "type": "string"
            },
            {
              "id": "customerName",
              "name": "customerName",
              "value": "={{ $json.body.whatsappInboundMessage.customerProfile.name }}",
              "type": "string"
            },
            {
              "id": "to",
              "name": "to",
              "value": "={{ $json.body.whatsappInboundMessage.to }}",
              "type": "string"
            },
            {
              "id": "messageType",
              "name": "messageType",
              "value": "={{ $json.body.whatsappInboundMessage.type }}",
              "type": "string"
            },
            {
              "id": "messageText",
              "name": "messageText",
              "value": "={{ $json.body.whatsappInboundMessage.text.body ?? '' }}",
              "type": "string"
            },
            {
              "id": "audioLink",
              "name": "audioLink",
              "value": "={{ $json.body.whatsappInboundMessage.audio.link ?? '' }}",
              "type": "string"
            },
            {
              "id": "imageLink",
              "name": "imageLink",
              "value": "={{ $json.body.whatsappInboundMessage.image.link ?? '' }}",
              "type": "string"
            },
            {
              "id": "sendTime",
              "name": "sendTime",
              "value": "={{ $json.body.whatsappInboundMessage.sendTime }}",
              "type": "string"
            },
            {
              "id": "eventId",
              "name": "eventId",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "cuenta",
              "name": "cuenta",
              "value": "={{ $json.body.whatsappInboundMessage.wabaId === '1357538772723544' ? 'Soporte La Agencia' : $json.body.whatsappInboundMessage.wabaId === '103732319475349' ? 'Imperio Acuático' : 'Desconocida' }}",
              "type": "string"
            },
            {
              "id": "3e251ffb-0870-4775-8ed1-fb5091f45b61",
              "name": "chat_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -48
      ],
      "id": "5d19fb07-30b6-4bb6-aa1b-7dd1291d86b4",
      "name": "Extraer Datos del Mensaje"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.wabaId }}",
                    "rightValue": "1357538772723544",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5eb93597-13a9-4d1f-91df-5bfc3c72b8ec"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Soporte La Agencia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.wabaId }}",
                    "rightValue": "103732319475349",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b53bb165-07f3-4757-ae49-ecc61328b597"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imperio Acuático"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        208,
        -64
      ],
      "id": "ce06313e-3a8f-4e55-b37c-f283d2805f99",
      "name": "Switch por Cuenta WhatsApp"
    },
    {
      "parameters": {
        "errorMessage": "hubo un error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        464,
        464
      ],
      "id": "ee305846-3aaa-4214-bc1e-7aba156bfd60",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.wabaId + '_' + $json.from }}",
        "tableName": "omghat_n8n_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        736,
        -576
      ],
      "id": "0fb8da63-054c-46b6-94a0-f10b9ce26c4a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "respondes coherente ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        720,
        -192
      ],
      "id": "59cbd076-68fb-432a-b4c1-c71d602b3eae",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        656,
        16
      ],
      "id": "10c85af2-b68b-4ff4-b8e7-3789289c5ce6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XrIlSDlaUJgC5q2a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "cd3e0f06850e75904318fb3d16154a90"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.to }}\", \n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\", \n  \"type\": \"text\", \n  \"text\": { \n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        -192
      ],
      "id": "45e65c66-359d-419d-b1db-a0b39147a1ca",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.wabaId + '_' + $json.from }}",
        "tableName": "imperio_n8n_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        816,
        16
      ],
      "id": "94036cc3-87a4-4c5c-b774-351df235537f",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "CKPxQ5aeL7WnRpPE",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extraer Datos del Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Mensaje": {
      "main": [
        [
          {
            "node": "Switch por Cuenta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Cuenta WhatsApp": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "devwebhookn8n.automatesolutions.tech",
            "user-agent": "Go-http-client/2.0",
            "content-length": "558",
            "accept-encoding": "gzip",
            "baggage": "Eagleeye-Prpc=,Eagleeye-Pappname=1fof0zltrv1@d3b96e44a5c9fa6",
            "content-type": "application/json",
            "traceparent": "00-b53a27e7e6f2cce4a962707bb6e79934-a72196523fff32c6-00",
            "x-forwarded-for": "8.219.65.77",
            "x-forwarded-host": "devwebhookn8n.automatesolutions.tech",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6caaad8e5ccb",
            "x-real-ip": "8.219.65.77",
            "x-webhook-endpoint-id": "69a3147089d5d111e1c75810",
            "ycloud-signature": "t=1772543999,s=56524656e443a0f37c964b9f1b582ffb94620b28899a1559742a0aea5cc5057c"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_69a6dfffb5990a292fdbec00",
            "type": "whatsapp.inbound_message.received",
            "apiVersion": "v2",
            "createTime": "2026-03-03T13:19:59.384Z",
            "whatsappInboundMessage": {
              "id": "69a6dfffb1193f7468d80408",
              "wamid": "wamid.HBgMNTczMDE2MDUwODE4FQIAEhgUM0E4MUIzNzk0MDZBMjlDQkVCNTgA",
              "wabaId": "103732319475349",
              "from": "+573016050818",
              "customerProfile": {
                "name": "Juan Muñoz (AIC studio)"
              },
              "to": "+573027471832",
              "sendTime": "2026-03-03T13:19:57.000Z",
              "type": "text",
              "text": {
                "body": "Hola!! Bueno días! Cómo estás? Estoy haciendo pruebas al agente( por eso es este mensaje)"
              }
            }
          },
          "webhookUrl": "https://devwebhookn8n.automatesolutions.tech/webhook/aic_laagencia",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "5ba7cf5c-2f64-45e5-97da-5b673fc1099d",
  "activeVersionId": "1250fe31-c410-482e-8eae-bc31c1e30938",
  "versionCounter": 22,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-28T15:44:04.718Z",
      "createdAt": "2026-02-28T15:44:04.718Z",
      "role": "workflow:owner",
      "workflowId": "uFej6OoU72j0Dy4W",
      "projectId": "Vt5Eyc9ezInhgXE9",
      "project": {
        "updatedAt": "2025-12-31T14:40:13.685Z",
        "createdAt": "2025-12-31T14:38:28.497Z",
        "id": "Vt5Eyc9ezInhgXE9",
        "name": "AIC studio youtube <aicstudioai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
        "projectRelations": [
          {
            "updatedAt": "2025-12-31T14:38:28.497Z",
            "createdAt": "2025-12-31T14:38:28.497Z",
            "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
            "projectId": "Vt5Eyc9ezInhgXE9",
            "user": {
              "updatedAt": "2026-03-12T03:40:50.130Z",
              "createdAt": "2025-12-31T14:38:27.198Z",
              "id": "058da315-9cf0-40b2-a5e7-f1395e13be70",
              "email": "aicstudioai@gmail.com",
              "firstName": "AIC studio",
              "lastName": "youtube",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T14:40:51.287Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "devops",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "o8O9K4oWZdyaJqOT",
                "userActivatedAt": 1772737355723,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770152675504
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-28T16:35:24.352Z",
    "createdAt": "2026-02-28T16:35:20.722Z",
    "versionId": "1250fe31-c410-482e-8eae-bc31c1e30938",
    "workflowId": "uFej6OoU72j0Dy4W",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "aic_laagencia",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -64,
          16
        ],
        "id": "5a221750-3f2f-4893-a59f-22ed6a132a40",
        "name": "Webhook",
        "webhookId": "437629a2-d67b-43de-b007-901bdfeaaf4f"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "respondes coherente ",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          720,
          32
        ],
        "id": "92693bd8-0cba-4b61-a2e5-e318174536da",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          672,
          256
        ],
        "id": "68fb9d7b-ff4c-4607-b2d1-17ec7fe911dd",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "XrIlSDlaUJgC5q2a",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.whatsappInboundMessage.id }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          816,
          256
        ],
        "id": "9476b1b3-1f8f-44e4-9a52-9aaed1e08f9f",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "cd3e0f06850e75904318fb3d16154a90"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"{{ $('Webhook1').item.json.body.whatsappInboundMessage.to }}\", \n  \"to\": \"{{ $('Webhook1').item.json.body.whatsappInboundMessage.from }}\", \n  \"type\": \"text\", \n  \"text\": { \n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1072,
          32
        ],
        "id": "25bbd79e-6208-4da9-89b0-0f12985630d7",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          []
        ]
      }
    },
    "authors": "AIC studio youtube",
    "name": "Version 1250fe31",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-28T16:35:24.349Z",
        "id": 96,
        "workflowId": "uFej6OoU72j0Dy4W",
        "versionId": "1250fe31-c410-482e-8eae-bc31c1e30938",
        "event": "activated",
        "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70"
      }
    ]
  }
}
