n8n-workflows/YgE2QtkLNUr5ak8S_Insertar_datos_supabase_web.json
{
  "updatedAt": "2026-01-07T23:47:31.309Z",
  "createdAt": "2026-01-07T23:19:00.472Z",
  "id": "YgE2QtkLNUr5ak8S",
  "name": "Insertar datos en supabase proveniente de la web",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recoleccion_de_datos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "55f9d0d7-561c-40cd-9676-cad4834a12e6",
      "name": "Webhook",
      "webhookId": "001d9cb2-0d2f-46aa-83cf-82adc0ae6071"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar datos del webhook para Supabase\nconst inputData = $input.all();\nconst normalizedData = [];\n\nfor (const item of inputData) {\n  const body = item.json.body;\n  \n  // Calcular metadatos adicionales\n  const activityDate = new Date(body.activity_date);\n  const weekNumber = getWeekNumber(activityDate);\n  const month = activityDate.getMonth() + 1;\n  const year = activityDate.getFullYear();\n  \n  // Crear objeto normalizado\n  const normalized = {\n    // Datos básicos del body\n    activity_date: body.activity_date,\n    day_of_week: body.day_of_week,\n    calls: parseInt(body.calls) || 0,\n    linkedin: parseInt(body.linkedin) || 0,\n    events: parseInt(body.events) || 0,\n    \n    // Metadatos calculados\n    week_number: weekNumber,\n    month: month,\n    year: year,\n    \n    // Usuario (puedes modificar esto si tienes auth)\n    user_id: 'juan_aic', // Cambia esto por tu sistema de usuarios\n    user_name: 'Juan AIC Studio'\n  };\n  \n  normalizedData.push({ json: normalized });\n}\n\n// Función para calcular número de semana\nfunction getWeekNumber(date) {\n  const d = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate()));\n  const dayNum = d.getUTCDay() || 7;\n  d.setUTCDate(d.getUTCDate() + 4 - dayNum);\n  const yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));\n  return Math.ceil((((d - yearStart) / 86400000) + 1) / 7);\n}\n\nreturn normalizedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "3228891a-2b7a-4f3c-aef9-ba1be2b8cbc9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "prospecting_activity",
          "mode": "list",
          "cachedResultName": "prospecting_activity"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "calls": "={{ $json.calls }}",
            "linkedin": "={{ $json.linkedin }}",
            "events": "={{ $json.events }}",
            "week_number": "={{ $json.week_number }}",
            "month": "={{ $json.month }}",
            "year": "={{ $json.year }}",
            "activity_date": "={{ $json.activity_date }}",
            "user_id": "={{ $json.user_id }}",
            "user_name": "={{ $json.user_name }}",
            "day_of_week": "={{ $json.day_of_week }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activity_date",
              "displayName": "activity_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "day_of_week",
              "displayName": "day_of_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calls",
              "displayName": "calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "events",
              "displayName": "events",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "week_number",
              "displayName": "week_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "month",
              "displayName": "month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "afe58926-1f81-427e-940b-9c8c5bc7676a",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "Y6FcZifywjlxrbko",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "devwebhookn8n.automatesolutions.tech",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "89",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9",
            "content-type": "application/json",
            "origin": "https://aic-prospecting-tracker.vercel.app",
            "priority": "u=1, i",
            "referer": "https://aic-prospecting-tracker.vercel.app/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "186.113.100.214",
            "x-forwarded-host": "devwebhookn8n.automatesolutions.tech",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6caaad8e5ccb",
            "x-real-ip": "186.113.100.214"
          },
          "params": {},
          "query": {},
          "body": {
            "activity_date": "2026-01-05",
            "day_of_week": "Lunes",
            "calls": 50,
            "linkedin": 50,
            "events": 50
          },
          "webhookUrl": "https://devwebhookn8n.automatesolutions.tech/webhook/recoleccion_de_datos",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "3a2c80a8-b84a-4e68-9884-b5bd9cea589b",
  "activeVersionId": "2af0f77d-b316-452c-b92b-ea386d91dc39",
  "versionCounter": 8,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-07T23:19:00.472Z",
      "createdAt": "2026-01-07T23:19:00.472Z",
      "role": "workflow:owner",
      "workflowId": "YgE2QtkLNUr5ak8S",
      "projectId": "Vt5Eyc9ezInhgXE9",
      "project": {
        "updatedAt": "2025-12-31T14:40:13.685Z",
        "createdAt": "2025-12-31T14:38:28.497Z",
        "id": "Vt5Eyc9ezInhgXE9",
        "name": "AIC studio youtube <aicstudioai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
        "projectRelations": [
          {
            "updatedAt": "2025-12-31T14:38:28.497Z",
            "createdAt": "2025-12-31T14:38:28.497Z",
            "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70",
            "projectId": "Vt5Eyc9ezInhgXE9",
            "user": {
              "updatedAt": "2026-03-12T03:40:50.130Z",
              "createdAt": "2025-12-31T14:38:27.198Z",
              "id": "058da315-9cf0-40b2-a5e7-f1395e13be70",
              "email": "aicstudioai@gmail.com",
              "firstName": "AIC studio",
              "lastName": "youtube",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T14:40:51.287Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "saas",
                "role": "devops",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "o8O9K4oWZdyaJqOT",
                "userActivatedAt": 1772737355723,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770152675504
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T23:31:02.300Z",
    "createdAt": "2026-01-07T23:30:57.106Z",
    "versionId": "2af0f77d-b316-452c-b92b-ea386d91dc39",
    "workflowId": "YgE2QtkLNUr5ak8S",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "recoleccion_de_datos",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "55f9d0d7-561c-40cd-9676-cad4834a12e6",
        "name": "Webhook",
        "webhookId": "001d9cb2-0d2f-46aa-83cf-82adc0ae6071"
      }
    ],
    "connections": {},
    "authors": "AIC studio youtube",
    "name": "Version 2af0f77d",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T23:31:02.299Z",
        "id": 2,
        "workflowId": "YgE2QtkLNUr5ak8S",
        "versionId": "2af0f77d-b316-452c-b92b-ea386d91dc39",
        "event": "activated",
        "userId": "058da315-9cf0-40b2-a5e7-f1395e13be70"
      }
    ]
  }
}
